<!-- left navbar -->

<div class="col-md-3">
  <div class="bs-sidebar hidden-print affix" role="complementary">
    <ul class="nav bs-sidenav">
      <li><a href="#architecture-overview">Overview</a></li>
      <li>
        <a href="#architecture-life">Request Life Cycle</a>
        <ul class="nav">
          <li><a href="#architecture-flow-api">API Block</a></li>
          <li><a href="#architecture-flow-physical">Physical Block</a></li>
          <li><a href="#architecture-flow-realtime">Realtime Block</a></li>
        </ul>
      </li>


      <li><a href="#architecture-overview">Microservices</a></li>
      <ul>
  </div>
</div>
