<!-- left navbar -->

<div class="col-md-3">
  <div class="bs-sidebar hidden-print affix" role="complementary">
    <ul class="nav bs-sidenav">
      <li>
        <a href="#code-examples">Code Examples</a>
        <ul class="nav">
          <li><a href="#articles">Articles</a></li>
          <li><a href="#open-source-projects">Open Source Projects</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
