<!-- left navbar -->

<div class="col-md-3">
  <div class="bs-sidebar hidden-print affix" role="complementary">
    <ul class="nav bs-sidenav">
      <li>
        <a href="#developers-api">Developers API</a>
        <ul class="nav">
          <li><a href="#developers-api-overview">Overview</a></li>
          <li><a href="#developers-api-clients">Clients</a></li>
          <li><a href="#developers-api-device-component">Device Component</a></li>
        </ul>
      </li>
      <li>
        <a href="#devices-api">Devices API</a>
        <ul class="nav">
          <li><a href="#devices-api-overview">What is a Device</a></li>
          <li><a href="#get-a-device">Get a Device</a></li>
          <li><a href="#get-a-device-private-info">Get a Device Private Info</a></li>
          <li><a href="#get-all-devices">Get All Devices</a></li>
          <li><a href="#create-a-device">Create a Device</a></li>
          <li><a href="#update-a-device">Update a Device</a></li>
          <li><a href="#update-device-properties">Update Device Properties</a></li>
          <li><a href="#delete-a-device">Delete a Device</a></li>
          <li><a href="#devices-api-feedback">Feedback</a></li>
        </ul>
      </li>
      <li>
        <a href="#activations-api">Activations API</a>
        <ul class="nav">
          <li><a href="#activations-api-overview">What is an Activation?</a></li>
          <li><a href="#activate-a-device">Activate a Device</a></li>
          <li><a href="#deactivate-a-device">Deactivate a Device</a></li>
          <li><a href="#activations-api-feedback">Feedback</a></li>
        </ul>
      </li>
      <li>
        <a href="#realtime-api">Realtime API</a>
        <ul class="nav">
          <li><a href="#realtime-api-overview">Overview</a></li>
          <li><a href="#realtime-api-getting-started">Getting Started</a></li>
          <li><a href="#realtime-api-events">Events</a></li>
          <li><a href="#realtime-api-reveiving-updates">Receiving Updates</a></li>
          <li><a href="#get-a-subscription">Get a Subscription</a></li>
          <li><a href="#get-all-subscriptions">Get all Subscriptions</a></li>
          <li><a href="#create-a-subscription">Create a Subscription</a></li>
          <li><a href="#update-a-subscription">Update a Subscription </a></li>
          <li><a href="#delete-a-subscription">Delete a Subscription</a></li>
          <li><a href="#realtime-api-feedback">Feedback</a></li>
        </ul>
      </li>
      <li>
        <a href="#oauth">OAuth 2.0</a>
        <ul class="nav">
          <li><a href="#oauth-overview">Why OAuth 2.0?</a></li>
          <li><a href="#oauth-registration">Registration</a></li>
          <li><a href="#oauth-flows">OAuth Flows</a></li>
          <li><a href="#oauth-authorization-code">Authorization Code</a></li>
          <li><a href="#oauth-implicit-grant">Implicit Grant</a></li>
          <li><a href="#oauth-password-credentials">Password Credentials</a></li>
          <li><a href="#oauth-refresh-access-token">Refresh Access Token</a></li>
          <li><a href="#oauth-api-requests">API Requests</a></li>
          <li><a href="#oauth-scopes">Scopes</a></li>
          <li><a href="#oauth-filtering-resources">Filtering Resources</a></li>
          <li><a href="#oauth-expiring-token">Expiring Token</a></li>
          <li><a href="#oauth-learn-more">Learn More</a></li>
          <li><a href="#oauth-feedback">Feedback</a></li>
        </ul>
      </li>
      <li>
        <a href="#core-concepts">Core Concepts</a>
        <ul class="nav">
          <li><a href="#core-concepts-get-me">Get your profile</a></li>
          <li><a href="#core-concepts-rate-limit">Rate Limit</a></li>
          <li><a href="#core-concepts-response-format">Response Format</a></li>
          <li><a href="#core-concepts-cors">CORS</a></li>
          <li><a href="#core-concepts-infinite-scrolling-pagination">Infinite Scrolling Pagination</a></li>
          <li><a href="#core-concepts-accepted-time-formats">Accepted Time Formats</a></li>
          <li><a href="#core-concepts-public-resources">Public Resources</a></li>
          <li><a href="#core-concepts-error-responses">Error Responses</a></li>
          <li><a href="#core-concepts-http-caching">HTTP Caching</a></li>
          <li><a href="#core-concepts-rest-interface">REST Interface</a></li>
          <li><a href="#core-concepts-http-verbs-limitations">HTTP Verbs Limitations</a></li>
          <li><a href="#core-concepts-feedback">Feedback</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
