<!-- left navbar -->

<div class="col-md-3">
  <div class="bs-sidebar hidden-print affix" role="complementary">
    <ul class="nav bs-sidenav">
      <li>
        <a href="#lelylan-overview">Getting Started</a>
        <ul class="nav">
          <li><a href="#overview-what-is-lelylan">What is Lelylan</a></li>
          <li><a href="#overview-how-does-it-work">How does it work</a></li>
          <li><a href="#overview-core-concepts">Core Concepts</a></li>
        </ul>
      </li>
      <li>
        <a href="#makers">Makers</a>
      </li>
      <li>
        <a href="#developers">Developers</a>
      </li>
    </ul>
  </div>
</div>
