<!-- left navbar -->

<div class="col-md-3">
  <div class="bs-sidebar hidden-print affix" role="complementary">
    <ul class="nav bs-sidenav">
      <li><a href="#overview-getting-started">Overview</a></li>
      <li><a href="#overview-architecture">Architecture</a></li>
      <li><a href="#overview-installation">Installation</a></li>
      <li><a href="#overview-tutorials">Tutorials</a></li>
      <li><a href="#overview-license">License</a></li>
    </ul>
  </div>
</div>
