<!-- left navbar -->

<div class="col-md-3">
  <div class="bs-sidebar hidden-print affix" role="complementary">
    <ul class="nav bs-sidenav">
      <li>
        <a href="#lelylan-overview">Overview</a>
        <%#<ul class="nav">%>
          <%#<li><a href="#overview-what-is-lelylan">What is Lelylan</a></li>%>
          <%#<li><a href="#overview-how-does-it-work">How does it work</a></li>%>
          <%#<li><a href="#overview-resources">Resources</a></li>%>
          <%#<li><a href="#overview-next">What's next</a></li>%>
        <%#</ul>%>
      </li>
      <li>
        <a href="#connect-your-first-light">Connect your first light</a>
        <%#<ul class="nav">%>
          <%#<li><a href="#arduino-connect-your-first-light-introduction">Introduction</a></li>%>
          <%#<li><a href="#arduino-connect-your-first-light-components">Components</a></li>%>
          <%#<li><a href="#arduino-connect-your-first-light-libraries">Libraries</a></li>%>
          <%#<li><a href="#arduino-connect-your-first-light-hardware-setup">Hardware Setup</a></li>%>
          <%#<li><a href="#arduino-connect-your-first-light-lelylan-setup">Lelylan Setup</a></li>%>
          <%#<li><a href="#arduino-connect-your-first-light-code">Arduino Code</a></li>%>
          <%#<li><a href="#arduino-connect-your-first-light-control">Control your device</a></li>%>
          <%#<li><a href="#arduino-connect-your-first-light-code-explained">Code explained</a></li>%>
          <%#<li><a href="#arduino-connect-your-first-light-problems">Possible problems</a></li>%>
          <%#<li><a href="#arduino-connect-your-first-light-feedback">Feedback</a></li>%>
        <%#</ul>%>
      </li>
      <%#<li class="active">%>
        <%#<a href="#create-your-first-js-app">Create your first js app</a>%>
        <%#<ul class="nav">%>
          <%#<li><a href="#create-your-first-js-app-introduction">Introduction</a></li>%>
          <%#<li><a href="#create-your-first-js-app-software-stack">Software Stack</a></li>%>
          <%#<li><a href="#create-your-first-js-app-getting-started">Getting Started</a></li>%>
          <%#<li><a href="#create-your-first-js-app-add-lelylan-device-component">Add lelylan device component</a></li>%>
          <%#<li><a href="#create-your-first-js-app-add-login-and-device-tags">Add login and device tags</a></li>%>
          <%#<li><a href="#create-your-first-js-app-get-all-your-devices">Get all your devices</a></li>%>
          <%#<li><a href="#create-your-first-js-app-add-realtime-notifications">Add realtime notifications</a></li>%>
          <%#<li><a href="#create-your-first-js-app-run-your-app">Run your app</a></li>%>
          <%#<li><a href="#create-your-first-js-app-feedback">Feedback</a></li>%>
        <%#</ul>%>
      <%#</li>%>
      <li>
        <a href="#see-existing-projects">See existing projects</a>
        <ul class="nav">
          <li><a href="#projects-device-component">Device Component</a></li>
          <li><a href="#projects-lelylan-dashboard">Lelylan Dashboard</a></li>
          <li><a href="#projects-type-component">Type Component</a></li>
          <li><a href="#projects-lelylan-types">Lelylan Types</a></li>
          <li><a href="#projects-feedback">Feedback</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
