<!-- left navbar -->

<div class="col-md-3">
  <div class="bs-sidebar hidden-print affix" role="complementary">
    <ul class="nav bs-sidenav">
      <li>
        <a href="#makers-api">Makers API</a>
        <ul class="nav">
          <li><a href="#makers-api-what-is-a-physical-api">What is a Physical Device</a></li>
          <li><a href="#makers-api-how-does-it-work">How does it work</a></li>
          <li><a href="#makers-api-any-hardware">Any Hardware</a></li>
        </ul>
      </li>
      <li>
        <a href="#mqtt">MQTT</a>
        <ul class="nav">
          <li><a href="#mqtt-overview">Overview</a></li>
          <li><a href="#mqtt-create-the-device">Create the Device</a></li>
          <li><a href="#mqtt-set-the-physical-uri">Set the Physical URI</a></li>
          <li><a href="#mqtt-connecting-to-lelylan">Connecting to Lelylan</a></li>
          <li><a href="#mqtt-code-examples">Code Examples</a></li>
          <li><a href="#mqtt-control-your-physical-device">Control Your Physical Device</a></li>
          <li><a href="#mqtt-articles">Articles</a></li>
          <li><a href="#mqtt-feedback">Feedback</a></li>
        </ul>
      </li>
      <li>
        <a href="#direct">Direct Access</a>
        <ul class="nav">
          <li><a href="#direct-overview">Overview</a></li>
          <li><a href="#direct-create-the-device">Create the Device</a></li>
          <li><a href="#direct-how-to-receive-data">How to Receive Data</a></li>
          <li><a href="#direct-how-to-send-data">How to Send Data</a></li>
          <li><a href="#direct-set-the-physical-uri">Set the physical URI</a></li>
          <li><a href="#direct-control-your-physical-device">Control your physical device</a></li>
          <li><a href="#direct-articles">Articles</a></li>
          <li><a href="#direct-feedback">Feedback</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
