<!-- left navbar -->

<div class="col-md-3">
  <div class="bs-sidebar hidden-print affix" role="complementary">
    <ul class="nav bs-sidenav">
      <li>
        <a href="#support">Support</a>
        <%#<ul class="nav">%>
          <%#<li><a href="#support-ask-for-help">Ask for Help</a></li>%>
          <%#<li><a href="#support-beta-limitations">Beta Limitations</a></li>%>
          <%#<li><a href="#support-feedback">Feedback</a></li>%>
        <%#</ul>%>
      </li>
      <li>
        <a href="#faq">FAQ</a>
        <ul class="nav">
          <li><a href="#faq-device-and-physical-device-differences">Devices and Physical Devices</a></li>
          <li><a href="#faq-value-expected-pending">Value, Expected and Pending</a></li>
          <li><a href="#faq-accepted-values">Accepted Values</a></li>
          <li><a href="#faq-device-status">Device Status</a></li>
          <li><a href="#faq-feedback">Feedback</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
