<!-- left navbar -->

<div class="col-md-3">
  <div class="bs-sidebar hidden-print affix" role="complementary">
    <ul class="nav bs-sidenav">
      <li>
        <a href="#types-api-overview">Overview</a>
      </li>
      <li>
        <a href="#types-api">Types API</a>
        <ul class="nav">
          <li><a href="#get-a-type">Get a Type</a></li>
          <li><a href="#get-all-types">Get all Types</a></li>
          <li><a href="#create-a-type">Create a Type</a></li>
          <li><a href="#update-a-type">Update a Type</a></li>
          <li><a href="#delete-a-type">Delete a Type</a></li>
          <li><a href="#get-all-categories">Get all Categories</a></li>
          <li><a href="#types-api-feedback">Feedback</a></li>
        </ul>
      </li>
      <li>
        <a href="#properties-api">Properties API</a>
        <ul class="nav">
          <li><a href="#properties-api-overview">What is a Property?</a></li>
          <li><a href="#get-a-property">Get a Property</a></li>
          <li><a href="#get-all-properties">Get all Properties</a></li>
          <li><a href="#create-a-property">Create a Property</a></li>
          <li><a href="#update-a-property">Update a Property</a></li>
          <li><a href="#delete-a-property">Delete a Property</a></li>
          <li><a href="#properties-api-feedback">Feedback</a></li>
        </ul>
      </li>
      <li>
        <a href="#functions-api">Functions API</a>
        <ul class="nav">
          <li><a href="#functions-api-overview">What is a Function?</a></li>
          <li><a href="#get-a-function">Get a Function</a></li>
          <li><a href="#get-all-functions">Get all Functions</a></li>
          <li><a href="#create-a-function">Create a Function</a></li>
          <li><a href="#update-a-function">Update a Function</a></li>
          <li><a href="#delete-a-function">Delete a Function</a></li>
          <li><a href="#functions-api-feedback">Feedback</a></li>
        </ul>
      </li>
      <li>
        <a href="#statuses-api">Statuses API</a>
        <ul class="nav">
          <li><a href="#statuses-api-overview">What is the device status?</a></li>
          <li><a href="#get-a-status">Get a Status</a></li>
          <li><a href="#get-all-statuses">Get all Statuses</a></li>
          <li><a href="#create-a-status">Create a Status</a></li>
          <li><a href="#update-a-status">Update a Status</a></li>
          <li><a href="#delete-a-status">Delete a Status</a></li>
          <li><a href="#statuses-api-feedback">Feedback</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
