<h2 id="developers-api-overview">Overview</h2>

<p>
Lelylan offers a simple, open and consistent REST API to access every physical device in
your house through a unique URL. This makes it easy to create new apps related to web,
mobile, energy saving, augmented reality, speech recognition, smart surfaces, neural based
interfaces and anything else you like to work with.
</p>

<h2 id="developers-api-clients">Clients & Web Components</h2>

<p>
To easily get started Lelylan offers Web Components and Clients (SKD) in different languages
to create new apps and services for the Connected Home. Check out the
<a href="/#developers">developers tools</a>
in the getting started section to find what you need.
</p>
