<h2 id="developers-api-overview">Overview</h2>

<p>
Lelylan offers a simple, open and consistent REST API to access every physical device in
your house through a unique URL. This makes it easy to create new apps related to web,
mobile, energy saving, augmented reality, speech recognition, smart surfaces, neural based
interfaces and anything else you like to work with.
</p>

<h2 id="developers-api-clients">Clients</h2>

<p>
With clients written in different languages you can get started in minutes.
</p>

<table class="table table-stripped">
  <thead>
    <tr>
      <th style="width:300px;">Link</th>
      <th style="width:350px;">Language</th>
      <th>Authors</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="http://www.github.com/lelylan/lelylan-ng/" target="blank">lelylan-ng</a></td>
      <td>ANGULARJS</td>
      <td><a href="http://twitter.com/lelylan">@lelylan</a></td>
    </tr>
    <tr>
    <td><a href="http://www.github.com/lelylan/lelylan-node/" target="blank">lelylan-node</a></td>
      <td>NODE.JS</td>
      <td><a href="http://twitter.com/lelylan">@lelylan</a></td>
    </tr>
    <tr>
    <td><a href="http://www.github.com/lelylan/lelylan-rb/" target="blank">lelylan-rb</a></td>
      <td>RUBY</td>
      <td><a href="http://twitter.com/lelylan">@lelylan</a></td>
    </tr>
    <tr>
    <td><a href="http://www.github.com/lelylan/lelylan-py/" target="blank">lelylan-py</a></td>
      <td>PYTHON</td>
      <td><a href="http://twitter.com/lelylan">@lelylan</a></td>
    </tr>
  </tbody>
  </tbody>
</table>

<div class="alert alert-info">
  <p>
  <span class="label label-lelylan">notice</span>
  We are missing clients for different key platforms like Android, iPhone, Windows 8 Mobile,
  Arduino, etc. If you like Lelylan and you want help us improving it, let
  <a href="">@lelylan</a> know on Twitter.
  </p>
</div>

<h2 id="developers-api-device-component">Device Component</h2>

<p>
We created the new <a href="https://github.com/lelylan/device-component-ng">&lt;device&gt;</a>
HTML tag you can use to render a full working widget that lets you control and monitor in
realtime any device. You can get it up and running in few minutes.
</p>

<%= image_tag('create-your-first-js-app/introduction.png', class: 'img-thumbnail') %>

<div class="alert alert-info">
  <p>
  <span class="label label-lelylan">notice</span>
  Read the article <a href="/getting-started#create-your-first-js-app">create your first js app</a> to see the HTML device component in action.
  </p>
</div>
