<h2 id="developers-api-overview">Overview</h2>

<p>
Lelylan offers a simple, open and consistent REST API to access every physical device in
your house through a unique URL. This makes it easy to create new apps related to web,
mobile, energy saving, augmented reality, speech recognition, smart surfaces, neural based
interfaces and anything else you like to work with.
</p>

<h2 id="developers-api-clients">Tools</h2>

<p>
Lelylan offers Web Components and clients in different languages to get started on writing Apps
and Services with Lelylan. Check out <a href="http://lelylan.github.io/lab-ng/#/projects/software">Lelylan Lab</a>
to find out the best tools for you.
</p>
