<article>

<h1 class="call"><a name="client-libraries"><%= title %></a></h1>

<p>
Control the connected house through your favorite language. 
If you think we are missing a good library or you want to help us creating a new one,
<a href="http://twitter.com/#!/lelylan">tweet</a> or
<a href="mailto:touch@lelylan.com">mail</a> us. 
We want to cover the largest number of languages.
</p>

</br>
<table class="zebra-striped">
  <tbody>
    <tr>
      <td>
        <a href="https://github.com/lelylan/lelylan-js" class="bigger">lelylan-js</a> - 
        Javascript wrapper for Lelylan API. </br>
        <span class="label">todo</span>
      </td>
      <td>
        <span class="label warning">JAVASCRIPT</span>
      </td>
    </tr>
    <tr>
      <td>
        <a href="https://github.com/lelylan/lelylan-rb" class="bigger">lelylan-rb</a> -
        Ruby wrapper for Lelylan API.
        <span class="info">Credits to Lelylan.</a>
      </td>
      <td>
        <span class="label warning">RUBY</span>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">
      </td>
    </tr>
  </tfoot>
</table>

</article>
