<article>

<h1 class="call"><a name="client-libraries"><%= title %></a></h1>

<p>
Control the connected house through your favorite language.
If you think we are missing a good library or you want to help us creating a new one,
<a href="http://twitter.com/#!/lelylan">tweet</a> or
<a href="mailto:touch@lelylan.com">mail</a> us.
We want to cover the largest number of languages.
</p>

</br>
<table class="zebra-striped">
  <tbody>
    <tr>
      <td>
        <a href="http://lelylan.github.com/lelylan-ng/" class="bigger">lelylan-ng</a> -
        AngularJS wrapper for Lelylan API
        <span class="info">Credits to Lelylan</span>
      </td>
      <td>
        <span class="label warning">javascript</span>
        <span class="label warning">angularjs</span>
      </td>
    </tr>
    <tr>
      <td>
        <a href="http://lelylan.github.com/lelylan-node/" class="bigger">lelylan-node</a> -
        Node.js wrapper for Lelylan API </br>
        <span class="info">Credits to Lelylan</span>
      </td>
      <td>
        <span class="label warning">Javascript</span>
        <span class="label warning">Node</span>
      </td>
    </tr>
    <tr>
      <td>
        <a href="http://lelylan.github.com/lelylan-rb/" class="bigger">lelylan-rb</a> -
        Ruby wrapper for Lelylan API
        <span class="info">Credits to Lelylan</span>
      </td>
      <td>
        <span class="label warning">ruby</span>
      </td>
    </tr>
    <tr>
      <td>
        <a href="http://lelylan.github.com/devices-component-ng/" class="bigger">device-component-ng</a> -
        AngularJS Device Components for Lelylan (Web Component)
        <span class="info">Credits to Lelylan</span>
      </td>
      <td>
        <span class="label warning">javascript</span>
        <span class="label warning">angularjs</span>
      </td>
    </tr>
    <tr>
      <td>
        <a href="http://lelylan.github.com/type-component-ng/" class="bigger">type-component-ng</a> -
        AngularJS Type Components for Lelylan (Web Component)
        <span class="info">Credits to Lelylan</span>
      </td>
      <td>
        <span class="label warning">javascript</span>
        <span class="label warning">angularjs</span>
      </td>
    </tr>
    <tr>
      <td>
        <a href="https://github.com/remiprev/her" class="bigger">her</a> -
        Object Relational Mapper to map REST resources to Ruby objects
        <span class="info">Credits to <a href="https://github.com/remiprev">Rémi Prévost</a></span>
      </td>
      <td>
        <span class="label warning">Ruby</span>
        <span class="label warning">ORM</span>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">
      </td>
    </tr>
  </tfoot>
</table>

</article>
