--- 
title: 'FAQ'
style: 'description'
---

      <h1 class="call"><a name="faq">Frequently Asked Questions</a></h1>


      <p>
      <span class="label warning">coming soon</span>
      Right now the FAQ page is empty. If you think we are missing a good explanation on some
      basic concepts <a href="http://twitter.com/#!/lelylan">tweet</a> or 
      <a href="mailto:touch@lelylan.com">mail</a> us.
      </p>
