<article>

<h1 class="call"><a name="support"><%= title %></a></h1>

<p>
Lelylan use different channels to answer at your questions. Choose the one that fits
you the most and let us know what's wrong. The only thing we ask for is to search for 
open discussions before sending a new question.
</p>

<ul>

  <li>
  <a href="http://stackoverflow.com/questions/tagged/lelylan">Stack Overflow</a>.
  Ask us about problems and doubts. Remember to use the tag #lelylan when posting
  your questions.
  </li>

  <li>
  <a href="https://github.com/lelylan/issues/issues">Issue tracker</a>.
  When you find an issue about Lelylan API open a ticket on github.
  Discuss with our team about the unexpected results and help us to fix problems.
  </li>

  <li>
  <a href="https://twitter.com/#/lelylan">Tweet</a> or
  <a href="mailto:touch@lelylan.com">mail</a> us.
  Directly contact us whenever previous channels didn't satisfy you.
  </li>

</ul>

</article>
