<h2 id="types-api-what">What is a Type?</a></h2>

<p>
A type describes the structure of a device. In its simplest form every type can be defined
as the combination of three key elements.
</p>

<ul>
  <li><em>Properties</em> - what vary during time.</li>
  <li><em>Functions</em> - what a device can do.</li>
  <li><em>Statuses</em> - what a device is in a specific time of its life.</li>
</ul>

<h2 id="types-api-example">Give me an Example</a></h2>

<p>
Here an example describing a dimmer type.
</p>

<table class="table table-stripped table-hover">
  <tbody>
    <tr><td>Properties</td><td>status, intensity</td></tr>
    <tr><td>Functions</td><td>turn on, turn off, set intensity</td></tr>
    <tr><td>Statuses</td><td>on, off, turning on, turning off, setting intensity</td></tr>
  </tbody>
</table>

<h2 id="types-api-creating-your-first-type">Creating Your First Type</h2>

<p>
The simplest way to use the Types API is through
<a href="http://lelylan.github.io/types-dashboard-ng/#/">Lelylan Types</a>.
It gives you everything you need to create, find and discuss any device structure
in an open and collaborative way.
</p>

<a href="http://lelylan.github.io/types-dashboard-ng/#/">
<%= image_tag('lelylan-types.png', class: 'img-thumbnail') %>
</a>

<h2 id="types-api-learn">Do I really need to learn the Types API?</h2>

<p>
No, you don't. <a href="http://lelylan.github.io/types-dashboard-ng/#/">Lelylan Types</a>
lets you create and search types, which is all you need to get started, but if you are curious
to fully understand how a type is defined this is the right place to get started.
</p>

<div class="alert alert-info">
  <p>
  <span class="label label-lelylan">notice</span>
  Most probably you'll never use Types API. If you do not have too much time skip this section.
  </p>
</div>
