<article>

<aside class="menu">
</br>
<table>
  <tbody>
    <tr><td><a href="" class="upcase"><%= title %></a></td></tr>
    <tr><td>&raquo; <a href="#get-a-property">Get a property</a></td></tr>
    <tr><td>&raquo; <a href="#get-all-properties">Get all properties</a></td></tr>
    <tr><td>&raquo; <a href="#create-a-property">Create a property</a></td></tr>
    <tr><td>&raquo; <a href="#update-a-property">Update a property</a></td></tr>
    <tr><td>&raquo; <a href="#delete-a-property">Delete a property</a></td></tr>
  </tbody>
</table>
</aside>

<h1 class="call"><a name="properties"><%= title %></a></h1>

<p>
A property is whatever vary in a device during time. It can be the intensity in
a dimmer, the temperature in a cooling system or the volume in a television.
</p>

</article>

<br/>

<article>

<h1 class="call"><a name="get-a-property">GET /properties/:id</a></h1>

<p>Returns extended information for a given <a href="/api/core/#public-resources">public</a> property identified from its ID.</p>

<h4>Resource URL</h4>
<div class="preview">
  <pre><code>GET http://api.lelylan.com/properties/:id</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>id</span>
        <span class="info">required</span>
      </td>
      <td>
        The ID of the desired property.
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#get-a-property-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li><a href="#get-a-property-node" data-toggle="tab" class="node">Node.js</a></li>
  <li><a href="#get-a-property-angular" data-toggle="tab" class="angular">AngularJS</a></li>
  <li><a href="#get-a-property-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
  <li><a href="#get-a-property-python" data-toggle="tab" class="python">Python</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="get-a-property-curl">
    <div class="preview">
        <pre><xmp>curl http://api.lelylan.com/properties/<id></xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-a-property-node">
    <div class="preview">
      <pre class="prettyprint"><xmp>var Lelylan = require('lelylan-node')();
Lelylan.Property.find('<id>', callback);</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-a-property-angular">
    <div class="preview">
      <pre class="prettyprint"><xmp><html ng-app="lelylan">
<body>
  <!-- login component here (dev.lelylan.com/api/oauth#implicit-grant-angular) -->
  <div ng-controller="LelylanController">{{property}}</div>
  <script>
    function LelylanController($scope, Property) {
      $scope.property = Property.get({ id: '<id>' });
    }
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-cookies.min.js"></script>
  <script src="//s.lelylan.com/angularjs/0.1.0/lelylan.min.js"/></script>
</body>
</html></xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-a-property-ruby">
    <div class="preview">
        <pre class="prettyprint"><xmp>lelylan = Lelylan::Client.new
property = lelylan.property('<id>')</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-a-property-python">
    <div class="preview">
        <pre class="prettyprint"><xmp>from lelylan import properties
property = properties.get_prop('<id>')</xmp></pre>
    </div>
  </div>
</div>

<h4>Example header response</h4>

<div class="preview"><pre><code>HTTP/1.1 200 OK</code></pre></div>

<h4 id="property-representation">Example body response</h4>

<p>Light <code>status</code> accepting <code>text</code> values <code>on</code> and <code>off</code></p>

<div class="preview"><pre><code>{
  "name": "Status",
  "id": "50420c3a267ff51300000001",
  "uri": "http://api.lelylan.com/properties/50420c3a267ff51300000001",
  "type": "text",
  "default": "0",
  "accepted": { "on": "On", "off": "Off" },
  "created_at": "2012-09-01T10:56:41Z",
  "updated_at": "2012-09-01T10:56:41Z"
}</code></pre></div>

<p>Light <code>intensity</code> accepting any value between the <code>range</code> that goes from <code>0</code> to <code>100</code> with step <code>1</code></p>

<div class="preview"><pre><code>{
  "name": "Intensity",
  "id": "518be8b100045e99cc000004",
  "uri": "http://api.lelylan.com/properties/518be8b100045e99cc000004",
  "type": "range",
  "range": { "min": "0", "max": "100", "step": "1" }
  "default": "50",
  "accepted": null,
  "created_at": "2012-09-01T10:56:41Z",
  "updated_at": "2012-09-01T10:56:41Z"
}</code></pre></div>

<h4>Body response explained</h4>

<dl>
<dd><span>uri</span> - Property URI.</dd>
<dd><span>id</span> - Property ID.</dd>
<dd><span>name</span> - Property name.</dd>
<dd><span>type</span> - Property type.</dd>
<dd><span>range</span> - Accepted range values. Visible only when <code>type</code> is <code>range</code>.</dd>
<dd><span>default</span> - Default property value assigned when the device is created.</dd>
<dt><span>accepted</span> - List of accepted values from the property. <a href="/community/faq#accepted-values">Learn more about</a>.</dt>
</dl>

</article>

<br>

<article>

<h1 class="call"><a name="get-all-properties">GET /properties</a></h1>

<p>Returns a list of owned (and <a href="/api/core/#public-resources">public</a>) properties.</p>

<h4>Resource URL</h4>
<div class="preview">
<pre><code># created properties
GET http://api.lelylan.com/properties</code><code># all properties
GET http://api.lelylan.com/properties/public</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>name</span>
        <span class="info">optional</span>
      </td>
      <td>
        Property name to search.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>start</span>
        <span class="info">optional</span>
      </td>
      <td>
        ID of the last fetched record. Learn more about <a href="/api/core/#pagination">pagination</a>.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>per</span>
        <span class="info">optional</span>
        <span class="info">default to '25'</span>
      </td>
      <td>
        Number of resources per page.
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#get-all-properties-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li><a href="#get-all-properties-node" data-toggle="tab" class="node">Node.js</a></li>
  <li><a href="#get-all-properties-angular" data-toggle="tab" class="angular">AngularJS</a></li>
  <li><a href="#get-all-properties-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
  <li><a href="#get-all-properties-python" data-toggle="tab" class="python">Python</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="get-all-properties-curl">
    <div class="preview"><pre><xmp>curl http://api.lelylan.com/properties \
     -H 'Authorization: Bearer <token>'</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-all-properties-node">
    <div class="preview">
      <pre class="prettyprint"><xmp>var Lelylan = require('lelylan-node')({ token: token });
Lelylan.Property.all({}, callback); // owned resources

var Lelylan = require('lelylan-node')();
Lelylan.Property.public({}, callback); // all existing resources</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-all-properties-angular">
    <div class="preview">
      <pre class="prettyprint"><xmp><html ng-app="lelylan">
<body>
  <!-- login component here (dev.lelylan.com/api/oauth#implicit-grant-angular) -->
  <div ng-controller="LelylanController">
    <div ng-repeat="property in owned">{{property}}</div>
    <div ng-repeat="property in public">{{property}}</div>
  </div>
  <script>
    function LelylanController($scope, Property) {
      $scope.owned  = Property.query();   // owned resources
      $scope.public = Property.public();  // all existing resources
    }
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-cookies.min.js"></script>
  <script src="//s.lelylan.com/angularjs/0.1.0/lelylan.min.js"/></script>
</body>
</html></xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-all-properties-ruby">
    <div class="preview">
      <pre class="prettyprint"><xmp>lelylan = Lelylan::Client.new(token: token)
properties = lelylan.properties # owned resources

lelylan = Lelylan::Client.new
properties = lelylan.public_properties # all existing resources</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-all-properties-python">
    <div class="preview">
      <pre class="prettyprint"><xmp>oauth.set_access_token()
from lelylan import properties
properties = properties.get_created_prop() # owned resources

from lelylan import properties
properties = properties.get_all_prop() # all existing resources</xmp></pre>
    </div>
  </div>
</div>

<h4>Example header response</h4>

<div class="preview"><pre><code>HTTP/1.1 200 OK</code></pre></div>

<h4>Example body response</h4>

<div class="preview highlight"><pre><code>[
  { # property representation },
  { # property representation },
  ...
]</code></pre></div>

<p>
  See <a href="#property-representation">property representation</a> for body response.
</p>
</article>

<br/>

<article>

<h1 class="call"><a name="create-a-property">POST /properties</a></h1>

<p>
  Create a property and returns extended information for it.
</p>

<h4>Resource URL</h4>
<div class="preview">
<pre><code>POST  http://api.lelylan.com/properties</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>name</span>
        <span class="info">required</span>
      </td>
      <td>
        Property name.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>type</span>
        <span class="info">optional</span>
      </td>
      <td>
        Property type.
        <span class="info">Valid values: text, number, range, color, password, date, time, datetime, url.</span>
        <span class="info">Default value: text</span>
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>range</span>
        <span class="info">optional</span>
      </td>
      <td>
        Object containing the <code>min</code>, <code>max</code> and <code>step </code> range values.<br/>
        Usi it only when <code>type</code> is set to <code>range</code>.</dd>
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>default</span>
        <span class="info">optional</span>
      </td>
      <td>
        Default property value assigned to the device when created.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>accepted</span>
        <span class="info">optional</span>
      </td>
      <td>
        List of accepted values. <a href="/community/faq#accepted-values">Learn more about</a>.
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#create-a-property-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li><a href="#create-a-property-node" data-toggle="tab" class="node">Node.js</a></li>
  <li><a href="#create-a-property-angular" data-toggle="tab" class="angular">AngularJS</a></li>
  <li><a href="#create-a-property-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
  <li><a href="#create-a-property-python" data-toggle="tab" class="python">Python</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="create-a-property-curl">
    <div class="preview">
      <pre><xmp>curl -X POST http://api.lelylan.com/properties \
     -H 'Authorization: Bearer <token>' \
     -H 'Content-Type: application/json' \
     -d '{
           "name": "Intensity",
           "default": "50",
           "type": "range",
           "range": {"min": "0", "max": "100", "step": "1"}
         }'</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="create-a-property-node">
    <div class="preview">
      <pre class="prettyprint"><xmp>var Lelylan = require('lelylan-node')({ token: token });
var params = {
  name: 'Intensity',
  default: '50',
  type: 'range',
  range: {'min': '0', 'max': '100', 'step': '1'} };

Lelylan.Property.create(params, callback);</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="create-a-property-angular">
    <div class="preview">
      <pre class="prettyprint"><xmp><html ng-app="lelylan">
<body>
  <!-- login component here (dev.lelylan.com/api/oauth#implicit-grant-angular) -->
  <div ng-controller="LelylanController">{{property}}</div>
  <script>
    function LelylanController($scope, Property) {
      var params = {
        name: 'Intensity',
        default: '50',
        type: 'range',
        range: {'min': '0', 'max': '100', 'step': '1'} };

      $scope.property = new Property(params);
      $scope.property.$save();
    }
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-cookies.min.js"></script>
  <script src="//s.lelylan.com/angularjs/0.1.0/lelylan.min.js"/></script>
</body>
</html></xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="create-a-property-ruby">
    <div class="preview">
      <pre class="prettyprint"><xmp>lelylan = Lelylan::Client.new(token: token)
var params = {
  name: 'Intensity',
  default: '50',
  type: 'range',
  range: {'min': '0', 'max': '100', 'step': '1'} };

property = lelylan.create_property(params)</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="create-a-property-python">
    <div class="preview">
      <pre class="prettyprint"><xmp>oauth.set_access_token()
var params = {
  name: 'Intensity',
  default: '50',
  type: 'range',
  range: {'min': '0', 'max': '100', 'step': '1'} };

from lelylan import properties
property = properties.create_prop(params)</xmp></pre>
    </div>
  </div>
</div>

<h4>Example header response</h4>

<div class="preview"><pre><code>HTTP/1.1 201 Created
Location: http://api.lelylan.com/properties/5041e9e9230de31300000001</code></pre>
</div>

<h4>Example body response</h4>

<p>
  See <a href="#property-representation">property representation</a> for body response.
</p>

</article>

<br/>

<article>

<h1 class="call"><a name="update-a-property">PUT /properties/:id</a></h1>

<p>
  Update a property identified from its ID and returns extended information for it.
</p>

<h4>Resource URL</h4>
<div class="preview">
<pre><code>PUT  http://api.lelylan.com/properties/:id</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>id</span>
        <span class="info">required</span>
      </td>
      <td>
        The ID of the desired property.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>name</span>
        <span class="info">optional</span>
      </td>
      <td>
        Property name.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>type</span>
        <span class="info">optional</span>
      </td>
      <td>
        Property type.
        <span class="info">Valid values: text, number, range, color, password, date, time, datetime, url.</span>
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>range</span>
        <span class="info">required</span>
      </td>
      <td>
        Object containing the <code>min</code>, <code>max</code> and <code>step </code> range values.<br/>
        Usi it only when <code>type</code> is set to <code>range</code>.</dd>
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>default</span>
        <span class="info">optional</span>
      </td>
      <td>
        Default property value assigned to the device when created.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>accepted</span>
        <span class="info">optional</span>
      </td>
      <td>
        List of accepted values. <a href="/community/faq#accepted-values">Learn more about</a>.
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#update-a-property-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li><a href="#update-a-property-node" data-toggle="tab" class="node">Node.js</a></li>
  <li><a href="#update-a-property-angular" data-toggle="tab" class="angular">AngularJS</a></li>
  <li><a href="#update-a-property-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
  <li><a href="#update-a-property-python" data-toggle="tab" class="python">Python</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="update-a-property-curl">
    <div class="preview"><pre><xmp>curl -X PUT http://api.lelylan.com/properties/<id> \
     -H 'Authorization: Bearer <token>' \
     -H 'Content-Type: application/json' \
     -d '{ "default": "100" }'</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="update-a-property-node">
    <div class="preview">
      <pre class="prettyprint"><xmp>var Lelylan = require('lelylan-node')({ token: token });
var params = { default: '100' };
Lelylan.Property.update('<id>', params, callback);</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="update-a-property-angular">
    <div class="preview">
      <pre class="prettyprint"><xmp><html ng-app="lelylan">
<body>
  <!-- login component here (dev.lelylan.com/api/oauth#implicit-grant-angular) -->
  <div ng-controller="LelylanController">{{property}}</div>
  <script>
    function LelylanController($scope, Property) {
      var params = { id: '<id>', default: '100' };
      $scope.property = new Property(params);
      $scope.type.$update();
    }
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-cookies.min.js"></script>
  <script src="//s.lelylan.com/angularjs/0.1.0/lelylan.min.js"/></script>
</body>
</html></xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="update-a-property-ruby">
    <div class="preview">
      <pre class="prettyprint"><xmp>lelylan = Lelylan::Client.new(token: token)
params = { default: '100' };
property = lelylan.update_property('<id>', params)</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="update-a-property-python">
    <div class="preview">
      <pre class="prettyprint"><xmp>oauth.set_access_token()
params = { default: '100' };

from lelylan import properties
property = properties.update_prop('<id>', params)</xmp></pre>
    </div>
  </div>
</div>

<h4>Example header response</h4>

<div class="preview"><pre><code>HTTP/1.1 200 OK</code></pre></div>

<h4>Example body response</h4>

<p>
  See <a href="#property-representation">property representation</a> for body response.
</p>

</article>

<br/>

<article>

<h1 class="call"><a name="delete-a-property">DELETE /properties/:id</a></h1>

<p>
  Delete a property identified from its ID and returns extended information for it.
</p>

<h4>Resource URL</h4>
<div class="preview">
<pre><code>DELETE http://api.lelylan.com/properties/:id</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>id</span>
        <span class="info">required</span>
      </td>
      <td>
        The ID of the desired property.
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class=" active"><a href="#delete-a-property-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li><a href="#delete-a-property-node" data-toggle="tab" class="node">Node.js</a></li>
  <li><a href="#delete-a-property-angular" data-toggle="tab" class="angular">AngularJS</a></li>
  <li><a href="#delete-a-property-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
  <li><a href="#delete-a-property-python" data-toggle="tab" class="python">Python</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="delete-a-property-curl">
    <div class="preview"><pre><xmp>curl -X DELETE http://api.lelylan.com/properties/<id> \
     -H 'Authorization: Bearer <token>'</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="delete-a-property-node">
    <div class="preview">
      <pre class="prettyprint"><xmp>var Lelylan = require('lelylan-node')({ token: token });
Lelylan.Property.delete('<id>', callback);</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="delete-a-property-angular">
    <div class="preview">
      <pre class="prettyprint"><xmp><html ng-app="lelylan">
<body>
  <!-- login component here (dev.lelylan.com/api/oauth#implicit-grant-angular) -->
  <div ng-controller="LelylanController">{{property}}</div>
  <script>
    function LelylanController($scope, Property) {
      $scope.properties = new Property({ id: '<id>' });
      $scope.properties.$delete();
    }
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-cookies.min.js"></script>
  <script src="//s.lelylan.com/angularjs/0.1.0/lelylan.min.js"/></script>
</body>
</html></xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="delete-a-property-ruby">
    <div class="preview">
      <pre class="prettyprint"><xmp>lelylan = Lelylan::Client.new(token: token)
property = lelylan.delete_property('<id>')</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="delete-a-property-python">
    <div class="preview">
      <pre class="prettyprint"><xmp>oauth.set_access_token()
from lelylan import properties
property = properties.delete_prop('<id>')</xmp></pre>
    </div>
  </div>
</div>

<h4>Example header response</h4>

<div class="preview"><pre><code>HTTP/1.1 200 OK</code></pre></div>

<h4>Example body response</h4>

<p>
  See <a href="#property-representation">property representation</a> for body response.
</p>
</article>
