<br><br>

<h2 id="api-overview">Overview</h2>

<p>
Lelylan API let you monitor and control in realtime any physical devices. It's based on three key concepts: <em>devices</em>, <em>physicals</em> and <em>types</em>.
</p>


<h3>Devices</h3>

<p>
A Device represents everything you interact with everyday of your life like sensors, lights, thermostats, locks, cameras, multimedia, bikes, cars and much, much more. The Device API lets you create, monitor and control any those objects you interact with.
</p>


<h3>Physicals</h3>

<p>
Whereas Devices are a virtual representation, Physicals are the real objects you interact with. To enable the communication between Lelylan and the physical world, the physical device must be able to connect to the Internet and to implement the Physical API.
<p>


<h3>Types</h3>

<p>
A Type describes the structure of a device. In its simplest form every Type is defined
as the combination of three key elements: properties (what vary during time), functions (what a device can do) and statuses (what a device is in a specific time of its life).
</p>