--- 
title: 'API'
style: 'docs-index'
---

      <h2>Lelylan API</h2>
      <article>
        <div><h3><a href="/api/core/">Core concepts</a></h3> <span>Shared ideas</span></div>
        <div><h3><a href="/api/devices/">Devices</a></h3> <span>Devices you interact with</span></div>
        <div><h3><a href="/api/types/">Types</a></h3> <span>Identify your device structure</span></div>
        <div><h3><a href="/api/locations/">Locations</a></h3> <span>Places we live in</span></div>
        <div><h3><a href="/api/physicals/">Physical devices</a></h3> <span>Connect the physical world</span></div>
        <div><h3><a href="/api/oauth/">OAuth</a></h3> <span>Access to your resource</span></div>
        <div><h3><a href="/api/realtime/">Realtime</a></h3> <span>Get realtime notifications</span></div>
      </article>
