<article>

<aside class="menu">
</br>
<table>
  <tbody>
    <tr><td><a href="" class="upcase"><%= title %></a></td></tr>
    <tr><td>&raquo; <a href="#get-a-location">Get a location</a></td></tr>
    <tr><td>&raquo; <a href="#get-all-locations">Get all locations</a></td></tr>
    <tr><td>&raquo; <a href="#create-a-location">Create a location</a></td></tr>
    <tr><td>&raquo; <a href="#update-a-location">Update a location</a></td></tr>
    <tr><td>&raquo; <a href="#delete-a-location">Delete a location</a></td></tr>
  </tbody>
</table>
</aside>

<h1 class="call"><a name="locations"><%= title %></a></h1>

<p>
Locations are the places we live in and where physical devices are placed. Lelylan
identifies three types of locations usually organized in a hierarchical structure:
<strong>houses</strong>, <strong>floors</strong> and <strong>rooms</strong>.
</p>


<p class="notice">
<span class="label warning">Notice</span>
Locations are still in development and could not work properly.
</p>
</article>

</br>

<article>

<h1 class="call"><a name="get-a-location">GET /locations/:id</a></h1>

<p>Returns extended information for a given location identified by its ID.</p>

<h4>Resource URL</h4>
<div class="preview">
<pre><code>GET http://api.lelylan.com/locations/:id</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>id</span>
        <span class="info">required</span>
      </td>
      <td>
        The ID of the desired location.
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#get-a-location-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li><a href="#get-a-location-node" data-toggle="tab" class="node">Node.js</a></li>
  <li><a href="#get-a-location-angular" data-toggle="tab" class="angular">AngularJS</a></li>
  <li><a href="#get-a-location-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
  <li><a href="#get-a-location-python" data-toggle="tab" class="python">Python</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="get-a-location-curl">
    <div class="preview">
      <pre><code>curl http://api.lelylan.com/locations/<id> \
     -H 'Authorization: Bearer <token>'</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-a-location-node">
    <div class="preview">
      <pre class="prettyprint"><code>var Lelylan = require('lelylan-node')({ token: token });
Lelylan.Location.find('<id>', callback);</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-a-location-angular">
    <div class="preview">
      <pre class="prettyprint"><xmp><html ng-app="lelylan">
<body>
  <!-- login component here (dev.lelylan.com/api/oauth#implicit-grant-angular) -->
  <div ng-controller="LelylanController">{{location}}</div>
  <script>
    function LelylanController($scope, Location) {
      $scope.location = Location.get({ id: '<id>' });
    }
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-cookies.min.js"></script>
  <script src="//s.lelylan.com/angularjs/0.1.0/lelylan.min.js"/></script>
</body>
</html></xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-a-location-ruby">
    <div class="preview">
      <pre class="prettyprint"><xmp>lelylan = Lelylan::Client.new(token: token)
location = lelylan.location('<id>')</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-a-location-python">
    <div class="preview">
      <pre class="prettyprint"><xmp>oauth.set_access_token()
from lelylan import locations
location = locations.get_loc('<id>')</xmp></pre>
    </div>
  </div>
</div>

<h4>Example header response</h4>

<div class="preview"><pre><code>HTTP/1.1 200 OK</code></pre></div>

<h4 id="location-representation">Example body response</h4>

<div class="preview highlight"><pre><code>{
  "uri": "http://api.lelylan.com/locations/50427d2414a0d61200000002",
  "id": "50427d2414a0d61200000002",
  "name": "Ground floor",
  "type": "floor",
  "created_at": "2012-09-01T21:24:52Z",
  "updated_at": "2012-09-01T21:24:52Z",
  "parent": {
    "uri": "http://api.lelylan.com/locations/50427cef14a0d61200000001",
    "id": "50427cef14a0d61200000001",
    "name": "Country house"
  },
  "ancestors": [{
    "uri": "http://api.lelylan.com/locations/50427cef14a0d61200000001",
    "id": "50427cef14a0d61200000001",
    "name": "Country house"
  }],
  "locations": [{
    "uri": "http://api.lelylan.com/locations/50427d5914a0d60a00000001",
    "id": "50427d5914a0d60a00000001",
    "name": "kitchen"
  }, {
    "uri": "http://api.lelylan.com/locations/50427d7314a0d61000000001",
    "id": "50427d7314a0d61000000001",
    "name": "Bedroom"
  }],
  "devices": [{
    "uri": "http://api.lelylan.com/devices/50427de78f76ad1000000001",
    "id": "50427de78f76ad1000000001",
    "name": "Entrance Light"
  }]
}</code></pre>
</div>

<h4>Body Response explained</h4>

<dl>
  <dd><span>uri</span> - Location URI.</dd>
  <dd><span>id</span> - Location ID.</dd>
  <dd><span>name</span> - Location name.</dd>
  <dd><span>type</span> - Location type. See <a href="#types">existing types</a>.</dd>
  <dd><span>parent</span> - Parent location.</dd>
  <dd><span>ancestors</span> - Ancestor locations (from the root).</dd>
  <dd><span>locations</span> - List of directly (contained) connected locations.</dd>
  <dt><span>devices</span> - List of directly (contained) connected devices.</dt>
</dl>

<br/>
<h1><a href="#types" name="types">Location types</a></h1>

<p>
List of available location types. No other type values are accepted right now.
</p>

</br>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>VALUE</th>
      <th>DESCRIPTION</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>house</code></td>
      <td>Define a building location like a house or a skyscraper.</td>
    </tr>
    <tr>
      <td><code>floor</code></td>
      <td>Define a floor in the building.</td>
    </tr>
    <tr>
      <td><code>room</code></td>
      <td>Define a room in the floor.</td>
    </tr>
    <tr>
      <td><code>generic</code></td>
      <td>Define a generic location (does not fit in the previous ones).</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">
        If we are missing a location type <a href="/community/support/">drop us a line</a>.
      </td>
    </tr>
  </tfoot>
</table>

</article>

</br>

<article>

<h1 class="call"><a name="get-all-locations">GET /locations</a></h1>

<p>Returns a list of owned locations.</p>

<h4>Resource URL</h4>
<div class="preview">
<pre><code>GET http://api.lelylan.com/locations</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>name</span>
        <span class="info">optional</span>
      </td>
      <td>
        Location name to search.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>type</span>
        <span class="info">optional</span>
      </td>
      <td>
        Type to search. See <a href="#types">existing types</a>.
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#get-all-locations-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li><a href="#get-all-locations-node" data-toggle="tab" class="node">Node.js</a></li>
  <li><a href="#get-all-locations-angular" data-toggle="tab" class="angular">AngularJS</a></li>
  <li><a href="#get-all-locations-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
  <li><a href="#get-all-locations-python" data-toggle="tab" class="python">Python</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="get-all-locations-curl">
    <div class="preview"><pre><xmp>curl http://api.lelylan.com/locations \
     -H 'Authorization: Bearer <token>'</xmp></pre></div>
  </div>
  <div class="tab-pane" id="get-all-locations-node">
    <div class="preview">
      <pre class="prettyprint"><xmp>var Lelylan = require('lelylan-node')({ token: token });
Lelylan.Location.all({}, callback);</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-all-locations-angular">
    <div class="preview">
      <pre class="prettyprint"><xmp><html ng-app="lelylan">
<body>
  <!-- login component here (dev.lelylan.com/api/oauth#implicit-grant-angular) -->
  <div ng-controller="LelylanController">
    <div ng-repeat="location in locations">{{location}}</div>
  </div>
  <script>
    function LelylanController($scope, Location) {
      $scope.locations = Location.query();
    }
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-cookies.min.js"></script>
  <script src="//s.lelylan.com/angularjs/0.1.0/lelylan.min.js"/></script>
</body>
</html></xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-all-locations-ruby">
    <div class="preview">
      <pre class="prettyprint"><xmp>lelylan = Lelylan::Client.new(token: token)
locations = lelylan.locations</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-all-locations-python">
    <div class="preview">
      <pre class="prettyprint"><xmp>oauth.set_access_token()
from lelylan import locations
locations = locations.get_all_loc()</xmp></pre>
    </div>
  </div>
</div>

<h4>Example header response</h4>

<div class="preview"><pre><code>HTTP/1.1 200 OK</code></pre></div>

<h4>Example body response</h4>

<div class="preview highlight"><pre><code>[
  { # location representation },
  { # location representation },
  ...
]</code></pre></div>

<p>
  See <a href="#location-representation">location representation</a> for body response.
</p>
</article>

<br/>

<article>

<h1 class="call"><a name="create-a-location">POST /locations</a></h1>

<p>
  Create a location and return extended information for it.
</p>

<h4>Resource URL</h4>
<div class="preview">
<pre><code>POST  http://api.lelylan.com/locations</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>name</span>
        <span class="info">required</span>
      </td>
      <td>
        Location name.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>type</span>
        <span class="info">required</span>
      </td>
      <td>
        Location type. See <a href="#types">existing types</a>.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>into</span>
        <span class="info">optional</span>
      </td>
      <td>
        Parent location URI containing the location.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>locations</span>
        <span class="info">optional</span>
      </td>
      <td>
        List of location URIs to connect.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>devices</span>
        <span class="info">optional</span>
      </td>
      <td>
        List of device URIs to connect.
      </td>
    </tr>
  </tbody>
</table>


<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#create-a-location-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li><a href="#create-a-location-node" data-toggle="tab" class="node">Node.js</a></li>
  <li><a href="#create-a-location-angular" data-toggle="tab" class="angular">AngularJS</a></li>
  <li><a href="#create-a-location-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
  <li><a href="#create-a-location-python" data-toggle="tab" class="python">Python</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="create-a-location-curl">
    <div class="preview">
      <pre><xmp>curl -X POST http://api.lelylan.com/locations \
    -H 'Authorization: Bearer <token>' \
    -H 'Content-Type: application/json' \
    -d '{
          "into": "http://api.lelylan.com/locations/<id>",
          "name": "Bedroom",
          "type": "room",
          "devices": ["http://api.lelylan.com/devices/<id>"]
        }'</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="create-a-location-node">
    <div class="preview">
      <pre class="prettyprint"><xmp>var Lelylan = require('lelylan-node')({ token: token });
var params = {
  into: 'http://api.lelylan.com/locations/<id>',
  name: 'Bedroom',
  type: 'room',
  devices: ['http://api.lelylan.com/devices/<id>'] };

Lelylan.Location.create(params, callback);</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="create-a-location-angular">
    <div class="preview">
      <pre class="prettyprint"><xmp><html ng-app="lelylan">
<body>
  <!-- login component here (dev.lelylan.com/api/oauth#implicit-grant-angular) -->
  <div ng-controller="LelylanController">{{location}}</div>
  <script>
    function LelylanController($scope, Location) {
      var params = {
        into: 'http://api.lelylan.com/locations/<id>',
        name: 'Bedroom',
        type: 'room',
        devices: ['http://api.lelylan.com/devices/<id>'] };

      $scope.location = new Location(params);
      $scope.location.$save();
    }
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-cookies.min.js"></script>
  <script src="//s.lelylan.com/angularjs/0.1.0/lelylan.min.js"/></script>
</body>
</html></xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="create-a-location-ruby">
    <div class="preview">
      <pre class="prettyprint"><xmp>lelylan = Lelylan::Client.new(token: token)
params = {
  into: 'http://api.lelylan.com/locations/<id>',
  name: 'Bedroom',
  type: 'room',
  devices: ['http://api.lelylan.com/devices/<id>'] }

location = lelylan.create_location(params)</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="create-a-location-python">
    <div class="preview">
      <pre class="prettyprint"><xmp>oauth.set_access_token()
params = {
  into: 'http://api.lelylan.com/locations/<id>',
  name: 'Bedroom',
  type: 'room',
  devices: ['http://api.lelylan.com/devices/<id>'] }

from lelylan import locations
location = locations.create_loc(params)</xmp></pre>
    </div>
  </div>
</div>

<h4>Example header response</h4>

<div class="preview"><pre><code>HTTP/1.1 201 Created
Location: http://api.lelylan.com/locations/50427d5914a0d60a00000001</code></pre></div>

<h4>Example body response</h4>

<p>
  See <a href="#location-representation">location representation</a> for body response.
</p>

</article>

<br/>

<article>

<h1 class="call"><a name="update-a-location">PUT /locations/:id</a></h1>

<p>
  Update a location identified from its ID and returns extended information for it.
</p>

<h4>Resource URL</h4>
<div class="preview">
<pre><code>PUT  http://api.lelylan.com/locations/:id</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>id</span>
        <span class="info">required</span>
      </td>
      <td>
        The ID of the desired locations.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>name</span>
        <span class="info">optional</span>
      </td>
      <td>
        Locations name.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>type</span>
        <span class="info">optional</span>
      </td>
      <td>
        Location type. See <a href="#types">existing types</a>.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>into</span>
        <span class="info">optional</span>
      </td>
      <td>
        Parent location URI containing the location.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>locations</span>
        <span class="info">optional</span>
      </td>
      <td>
        List of location URIs to connect.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>devices</span>
        <span class="info">optional</span>
      </td>
      <td>
        List of device URIs to connect.
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#update-a-location-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li><a href="#update-a-location-node" data-toggle="tab" class="node">Node.js</a></li>
  <li><a href="#update-a-location-angular" data-toggle="tab" class="angular">AngularJS</a></li>
  <li><a href="#update-a-location-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
  <li><a href="#update-a-location-python" data-toggle="tab" class="python">Python</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="update-a-location-curl">
    <pre><xmp>curl -X PUT http://api.lelylan.com/locations/<id> \
     -H 'Authorization: Bearer <token>' \
     -H 'Content-Type: application/json' \
     -d '{ "name": "Babies bedroom" }'</xmp></pre>
  </div>
  <div class="tab-pane" id="update-a-location-node">
    <div class="preview">
      <pre class="prettyprint"><xmp>var Lelylan = require('lelylan-node')({ token: token });
var params = { name: 'Babies bedroom' };
Lelylan.Location.update('<id>', params, callback);</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="update-a-location-angular">
    <div class="preview">
      <pre class="prettyprint"><xmp><html ng-app="lelylan">
<body>
  <!-- login component here (dev.lelylan.com/api/oauth#implicit-grant-angular) -->
  <div ng-controller="LelylanController">{{location}}</div>
  <script>
    function LelylanController($scope, Location) {
      var params = { name: 'Babies bedroom' };
      $scope.location = Location.get({ id: '<id>' }, function() {
        $scope.location.name = params.name;
        $scope.location.$update();
      });
    }
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-cookies.min.js"></script>
  <script src="//s.lelylan.com/angularjs/0.1.0/lelylan.min.js"/></script>
</body>
</html></xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="update-a-location-ruby">
    <div class="preview">
      <pre class="prettyprint"><xmp>lelylan = Lelylan::Client.new(token: token)
params = { name: 'Babies bedroom' }
location = lelylan.update_location('<id>', params)</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="update-a-location-python">
    <div class="preview">
      <pre class="prettyprint"><xmp>oauth.set_access_token()
params = { name: 'Babies bedroom' }

from lelylan import locations
location = locations.update_loc('<id>', params)</xmp></pre>
    </div>
  </div>
</div>

<p class="notice">
<span class="label">Notice</span>
When updating <code>devices</code> or <code>locations</code> all previous connections are replaced.
</p>

<h4>Example header response</h4>

<div class="preview"><pre><code>HTTP/1.1 200 OK</code></pre></div>

<h4>Example body response</h4>

<p>
  See <a href="#location-representation">location representation</a> for body response.
</p>

</article>

<br/>

<article>

<h1 class="call"><a name="delete-a-location">DELETE /locations/:id</a></h1>

<p>
Delete a location identified from its ID and return extended information for it.</br>
All direct children become root elements (without a parent). </br>
Connected devices are not deleted.
</p>

<h4>Resource URL</h4>
<div class="preview">
<pre><code>DELETE  http://api.lelylan.com/locations/:id</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>id</span>
        <span class="info">required</span>
      </td>
      <td>
        The ID of the desired location.
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#delete-a-location-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li><a href="#delete-a-location-node" data-toggle="tab" class="node">Node.js</a></li>
  <li><a href="#delete-a-location-angular" data-toggle="tab" class="angular">AngularJS</a></li>
  <li><a href="#delete-a-location-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
  <li><a href="#delete-a-location-python" data-toggle="tab" class="python">Python</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="delete-a-location-curl">
    <div class="preview"><pre><xmp>curl -X DELETE http://api.lelylan.com/locations/<id> \
     -H 'Authorization: Bearer <token>'</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="delete-a-location-node">
    <div class="preview">
      <pre class="prettyprint"><xmp>var Lelylan = require('lelylan-node')({ token: token });
Lelylan.Location.delete('<id>', callback);</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="delete-a-location-angular">
    <div class="preview">
      <pre class="prettyprint"><xmp><html ng-app="lelylan">
<body>
  <!-- login component here (dev.lelylan.com/api/oauth#implicit-grant-angular) -->
  <div ng-controller="LelylanController">{{location}}</div>
  <script>
    function LelylanController($scope, Location) {
      $scope.location = Location.get({ id: '<id>' }, function() {
        $scope.location.$delete();
      });
    }
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-cookies.min.js"></script>
  <script src="//s.lelylan.com/angularjs/0.1.0/lelylan.min.js"/></script>
</body>
</html></xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="delete-a-location-ruby">
    <div class="preview">
      <pre class="prettyprint"><xmp>lelylan = Lelylan::Client.new(token: token)
location = lelylan.delete_location('<id>')</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="delete-a-location-python">
    <div class="preview">
      <pre class="prettyprint"><xmp>oauth.set_access_token()
from lelylan import locations
location = locations.delete_loc('<id>')</xmp></pre>
    </div>
  </div>
</div>

<h4>Example header response</h4>

<div class="preview"><pre><code>HTTP/1.1 200 OK</code></pre></div>

<h4>Example body response</h4>

<p>
  See <a href="#location-representation">location representation</a> for body response.
</p>

</article>

<br/>
<br/>

<article>

<h1 class="call"><a>What's next?</a></h1>

<nav class="nav-intro">
<ul>
  <li>
  <a href="/api/activations" title="">
    <span class="icon"><i aria-hidden="true" class="icon-blog"></i></span>
    <span>Activations API <span class="small"> | Selling your cool devices</span></span>
  </a>
  </li>
</ul>
</nav>

<div class="clearfix">

</article>
