<article>

<aside class="menu">
</br>
<table>
  <tbody>
    <tr><td><a href="" class="upcase"><%= title %></a></td></tr>
    <tr><td>&raquo; <a href="#physical-overview">Overview</a></td></tr>
    <tr><td>&raquo; <a href="#hardware-solutions">Hardware solutions</a></td></tr>
    <tr><td>&raquo; <a href="#implemnetations">Implementations</a></td></tr>
    <tr><td class='inside'>&raquo; <a href="#creating-device-resource">Creating the device resource</a></td></tr>
    <tr><td class='inside'>&raquo; <a href="#receiving-property-updates">Receiving updates from Lelylan</a></td></tr>
    <tr><td class='inside'>&raquo; <a href="#sending-property-updates">Sending updates to Lelylan</a></td></tr>
    <tr><td class='inside'>&raquo; <a href="#physical-device-access">Physical access</a></td></tr>
  </tbody>
</table>
</aside>

<h1 class="call"><a name="physical-devices"><%= title %></a></h1>

<p>
Physical devices are the objects you interact with everyday of your life like lights,
appliances, alarms and more. To enable the communication between Lelylan and the physical
world, the physical device should implement the Physical API.
<p>

<p>
To make things simple, physical devices are characterized uniquely by their properties. This makes
physical devices easy to build, still giving the chance to extend their functionalities by adding
new services (e.g. functions, rules engines, sceneries, etc.) on top of Lelylan.
<p>

</article>

</br>

<article>

<h1 class="call"><a name="physical-overview">Request flow</a></h1>

<%= render 'shared/animations/physical_device' %>

</article>

</br>

<article>

<h1 class="call"><a name="hardware-solutions">Hardware solutions</a></h1>

<p>
To build a physical device you can use different hardware solutions varying
on <strong>computational power</strong>, <strong>wireless capability</strong>
and <strong>budget</strong>.
</p>

<table>
  <thead>
    <tr>
      <td><strong>MODEL</strong></td>
      <td><strong>DESCRIPTION</strong></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span class="label link"><a href="http://www.arduino.cc/">Arduino</a></span></td>
      <td>
        Open-source electronics prototyping platform.
      </td>
    </tr>
    <tr>
      <td><span class="label link"><a href="http://electricimp.com/">Electric imp</a></span></td>
      <td>
        A complete and cheap solution to connect devices to the internet, wirelessly.
      </td>
    </tr>
    <tr>
      <td><span class="label link"><a href="http://www.raspberrypi.org/">Raspberry Pi</a></span></td>
      <td>
        Credit-card sized computer as ARM GNU/Linux box for $25.
      </td>
    </tr>
    <tr>
      <td><span class="label link"><a href="http://www.sparkdevices.com/">Spark Core</a></span></td>
      <td>
        A tiny Wi-Fi development board that makes it easy to create internet-connected hardware.
      </td>
    </tr>
    <tr>
      <td><span class="label link"><a href="http://nanode.eu/">Nanode</a></span></td>
      <td>
        Open-source Arduino-like board that has in-built web connectivity.
      </td>
    </tr>
    <tr>
      <td><span class="label link"><a href="https://mbed.org/">mbed</a></span></td>
      <td>
        Rapid Prototyping for Microcontrollers.
      </td>
    </tr>
    <tr>
      <td><span class="label link"><a href="http://www.udoo.org/">udoo</a></span></td>
      <td>
        Android, Linux and Arduino in a tiny single-board computer.
      </td>
    </tr>
    <tr>
      <td><span class="label link"><a href="http://pinocc.io/">Pinoccio</a></span></td>
      <td>
        A wireless microcontroller to connect anything to the web.
      </td>
    </tr>
    <tr>
      <td><span class="label link"><a href="http://www.gainspan.com/">GainSpan</a></span></td>
      <td>
        Optimized Wi-Fi chips to lower down energy consumptions.
      </td>
    </tr>
    <tr>
      <td><span class="label link"><a href="http://www.panstamp.com/">PanStamp</a></span></td>
      <td>
        Small wireless boards specially designed to fit in low-power applications.
      </td>
    </tr>
    <tr>
      <td><span class="label link"><a href="http://www.openpicus.com/">openPICUS</a></span></td>
      <td>
        Platform to control and communication for your electronic devices through the web.
      </td>
    </tr>
    <tr>
      <td><span class="label link"><a href="http://www.libelium.com/">Libelium</a></span></td>
      <td>
        Hardware technology for the implementation of wireless sensor networks.
      </td>
    </tr>
    <tr>
      <td><span class="label link"><a href="http://netduino.com/">Netduino</a></span></td>
      <td>
        Open-source electronics platform using the .NET Micro Framework.
      </td>
    </tr>
    <tr>
      <td><span class="label link"><a href="http://tiny-circuits.com/products/tinyduino">TinyDuino</a></span></td>
      <td>
        Arduino compatible boards smaller than a quarter.
      </td>
    </tr>
    <tr>
      <td><span class="label link"><a href="http://cubieboard.org/">Cubieboard</a></span></td>
      <td>
        A small, high-performance arm box.
      </td>
    </tr>
    <tr>
      <td><span class="label link"><a href="http://developer.android.com/tools/adk/index.html">Android ADK</a></span></td>
      <td>
        Designed to let hardware builders and software developers create accessories for Android.
      </td>
    </tr>
    <tr>
      <td><span class="label link"><a href="http://rascalmicro.com/">The Rascal</a></span></td>
      <td>
        Small computer to monitor and control the world remotely.
      </td>
    </tr>
    <tr>
      <td><span class="label link"><a href="http://pandaboard.org/">Beagle Board</a></span></td>
      <td>
        Open OMAP 4 mobile software development platform.
      </td>
    </tr>
    <tr>
      <td><span class="label link"><a href="http://www.plugcomputer.org/">Plug Computer</a></span></td>
      <td>
        Small form factor server.
      </td>
    </tr>
  </tbody>
</table>

<p>
If you think we are missing a good hardware solution and if you want to help us
hacking the existing one
<a href="http://twitter.com/#!/lelylan">tweet</a> or
<a href="mailto:touch@lelylan.com">mail</a> us.
We are continuosly seeking for new projects and collaborations.
</p>

</article>

</br></br>

<article>

<h1 class="call"><a name="implemnetations">Getting Started</a></h1>

<p>
Physical devices must be accessible from the Internet in order to be used by Lelylan.
To reach this result the suggested solution is to use <a href="/api/pysicals/mqtt">MQTT</a>,
but other solutions (e.g. tunnel, static IP) are available.
</p>

<br>

<nav class="nav-intro">
  <ul>
    <li>
    <a href="/api/physicals/mqtt" title="">
      <span class="icon"><i aria-hidden="true" class="icon-blog"></i></span>
      <span>MQTT<span class="small"> | easily connect any physical device</span></span>
    </a>
    </li>
    <li>
    <a href="/api/physicals/direct" title="">
      <span class="icon"><i aria-hidden="true" class="icon-blog"></i></span>
      <span>Direct URI<span class="small"> | based on static IP addresses or tunnel solutions
      </span></span>
    </a>
    </li>
  </ul>
</nav>

<div class="clearfix">

</article>

<article>

<br>

<p class="notice">
<span class="label">notice</span>

If you think we are missing a cool solution that could improve the way we connect to the
physical world to the web or you want to help us creating a new one,
<a href="http://twitter.com/#!/lelylan">tweet</a> or
<a href="mailto:touch@lelylan.com">mail</a> us.
</p>

</article>
