<article>

<aside class="menu">
</br>
<table>
  <tbody>
    <tr><td><a href="" class="upcase"><%= title %></a></td></tr>
    <tr><td>&raquo; <a href="#activate-a-device">Activate a device</a></td></tr>
    <tr><td>&raquo; <a href="#deactivate-a-device">Deactivate a device</a></td></tr>
  </tbody>
</table>
</aside>

<h1 class="call"><a name="activations"><%= title %></a></h1>

<p>
When you create a device, it's automatically yours. This is generally what you want when
hacking and playing with Lelylan, but real needs can be different. There are at least a
couple of scenarios where changing the device ownership is what you want.
</p>

<ul>
  <li>
  <strong>Selling a great device</strong>.
  Suppose you are a startup and you want to produce a new smart device with the best design ever.
  You want to put it in the stores and let everyone own it.
  </li>
  <li>
  <strong>Making a gift</strong>.
  Suppose you are a wonderful girlfriend and a great hacker. You have built the most beautiful
  light in earth and you want to give it to your man to celebrate your first year.
  </li>
</ul>

<p>
As you can see, we need an easy way to move the device ownership to somebody else, in a controlled
way. To do this you can use the activation services, keeping in mind few simple things.
</p>

<ul>
  <li>
  <strong>Only one person at time can be the owner of a device</strong>. If someone takes your
  activation code and try to activate the device after you already did it, the activation will
  not work.
  </li>
  <li>
  <strong>Deactivate your device to let other people own it</strong>. When you create a device
  it's yours by default. To move the device ownership you must first <a href="#deactivate-a-device">
  deactivate</a> it. Once deactivated, the device can be <a href="#activate-a-device">claimed</a>
  from whoever has the activation code.
  </li>
</ul>

</article>

<br>

<article>

<h1 class="call"><a name="activate-a-device">POST /activations</a></h1>

<p>
Activate a device and returns extended information for it.
</p>

<p class="notice">
<span class="label">Notice</span>
When you create a device you own it. To let others own that same
device first <a href="#deactivate-a-device">deactivate</a> it.
</p>

<h4>Resource URL</h4>
<div class="preview">
<pre><code>POST  http://api.lelylan.com/activations</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>activation_code</span>
        <span class="info">required</span>
      </td>
      <td>
        Device <a href="/api/devices#get-a-device-private-info">activation code</a>.
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class=" active"><a href="#activate-a-device-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li><a href="#activate-a-device-node" data-toggle="tab" class="node">Node.js</a></li>
  <li><a href="#activate-a-device-angular" data-toggle="tab" class="angular">AngularJS</a></li>
  <li><a href="#activate-a-device-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="activate-a-device-curl">
    <div class="preview"><pre><xmp>curl -X POST http://api.lelylan.com/activations \
     -H 'Authorization: Bearer <token>' \
     -H 'Content-Type: application/json' \
     -d '{ "activation_code": "<activation-code>" }'</xmp></pre></div>
  </div>
  <div class="tab-pane" id="activate-a-device-node">
    <div class="preview">
      <pre class="prettyprint"><xmp>var Lelylan = require('lelylan-node')({ token: token });
var params = { activation_code: '<activation-code>' };
Lelylan.Device.activate(params, callback);</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="activate-a-device-angular">
    <div class="preview">
      <pre class="prettyprint"><xmp><html ng-app="lelylan">
<body>
  <!-- login component here (dev.lelylan.com/api/oauth#implicit-grant-angular) -->
  <div ng-controller="LelylanController">{{activated}}</div>
  <script>
    function LelylanController($scope, Activation) {
      var params = { activation_code: '<activation-code>' };
      $scope.activated = new Activation(params);
      $scope.activated.$execute();
    }
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-cookies.min.js"></script>
  <script src="//s.lelylan.com/angularjs/0.1.0/lelylan.min.js"/></script>
</body>
</html></xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="activate-a-device-ruby">
    <div class="preview">
      <pre class="prettyprint"><xmp>lelylan = Lelylan::Client.new(token: token)
params = { activation_code: '<activation-code>' }
device = lelylan.activate_device(params)</xmp></pre>
    </div>
  </div>
</div>

<h4>Example header response</h4>

<div class="preview"><pre><code>HTTP/1.1 201 Created
Location: http://api.lelylan.com/devices/5042344b95fc441000000001</code></pre></div>

<p>
  See <a href="/api/devices#device-representation">device representation</a> for body response.
</p>

<h2>What if the device is already activated?</h2>

<p>
Trying to activate a device already activate will return a not valid response.
</p>

<div class="preview unified"><pre><code>HTTP/1.1 422 Not Valid</code></pre></div>

<div class="preview"><pre><code>{
  "status": "422",
  "method": "POST",
  "request": "http://api.lelylan.com/activations",
  "error": {
    "code": "notifications.resource.already_activated",
    "description": "Resource already activated",
    "body": { "activation_code": "3cd6360a163b112c5eb910967c5866f77f019694" }
  }
}</code></pre></div>

</article>

<br/>

<article>

<h1 class="call"><a name="deactivate-a-device">DELETE /activations/:activation-code</a></h1>

<p>
Deactivate a device identified from its activation code and returns extended information for it.
When a device is deactivated, anyone owning the activation code can claim the device ownership.
Until that moment the previous owner remains.
</p>

<h4>Resource URL</h4>
<div class="preview">
<pre><code>DELETE https://api.lelylan.com/activations/:activation-code</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>activation_code</span>
        <span class="info">required</span>
      </td>
      <td>
        The <a href="/api/devices#get-a-device-private-info">activation code</a> of the desired device.
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class="curl active"><a href="#deactivate-a-device-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li class="node"><a href="#deactivate-a-device-node" data-toggle="tab" class="node">Node.js</a></li>
  <li class="javascript"><a href="#deactivate-a-device-angular" data-toggle="tab" class="angular">AngularJS</a></li>
  <li class="ruby"><a href="#deactivate-a-device-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="deactivate-a-device-curl">
    <div class="preview"><pre><xmp>curl -X DELETE http://api.lelylan.com/activations/<activation-code> \
     -H 'Authorization: Bearer <token>' \
     -H 'Content-Length: 0'</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="deactivate-a-device-node">
    <div class="preview">
      <pre><xmp class="prettyprint">var Lelylan = require('lelylan-node')({ token: token });
Lelylan.Device.deactivate('<activation-code>', callback);</xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="deactivate-a-device-angular">
    <div class="preview">
      <pre class="prettyprint"><xmp><html ng-app="lelylan">
<body>
  <!-- login component here (dev.lelylan.com/api/oauth#implicit-grant-angular) -->
  <div ng-controller="LelylanController">{{deactivated}}</div>
  <script>
    function LelylanController($scope, Deactivation) {
      var params = { activation_code: '<activation-code>' };
      $scope.deactivated = new Deactivation(params);
      $scope.deactivated.$execute();
    }
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-cookies.min.js"></script>
  <script src="//s.lelylan.com/angularjs/0.1.0/lelylan.min.js"/></script>
</body>
</html></xmp></pre>
    </div>
  </div>
  <div class="tab-pane" id="deactivate-a-device-ruby">
    <div class="preview">
      <pre><xmp class="prettyprint">lelylan = Lelylan::Client.new(token: token)
device = lelylan.deactivate_device('<activation-code>')</xmp></pre>
    </div>
  </div>
</div>

<h4>Example header response</h4>

<div class="preview"><pre><code>HTTP/1.1 200 OK</code></pre></div>

<h4>Example body response</h4>

<p>
  See <a href="/api/devices#device-representation">device representation</a> for body response.
</p>

</article>
