<article>

<aside class="menu">
</br>
<table>
  <tbody>
    <tr><td><a href="" class="upcase"><%= title %></a></td></tr>
    <tr><td>&raquo; <a href="#get-a-function">Get a function</a></td></tr>
    <tr><td>&raquo; <a href="#get-all-functions">Get all functions</a></td></tr>
    <tr><td>&raquo; <a href="#create-a-function">Create a function</a></td></tr>
    <tr><td>&raquo; <a href="#update-a-function">Update a function</a></td></tr>
    <tr><td>&raquo; <a href="#delete-a-function">Delete a function</a></td></tr>
  </tbody>
</table>
</aside>

<h1 class="call"><a name="functions"><%= title %></a></h1>

<p>
Functions defines the daily interactions you have with the devices in your house,
for example when you turn on a light, close a door or raise the temperature in a
room. With functions you can control any device in the same way you do everyday of
your life.
</p>

</article>

<br/>

<article>

<h1 class="call"><a name="get-a-function">GET /functions/:id</a></h1>

<p>Returns extended information for a given <a href="/api/core/#public-resources">public</a> function identified from its ID.</p>

<h4>Resource URL</h4>
<div class="preview">
<pre><code class="no-highlight">GET http://api.lelylan.com/functions/:id</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>id</span>
        <span class="info">required</span>
      </td>
      <td>
        The ID of the desired function.
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#get-a-function-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li><a href="#get-a-function-javascript" data-toggle="tab" class="javascript">Javascript</a></li>
  <li><a href="#get-a-function-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="get-a-function-curl">
    <div class="preview">
      <pre><code class="no-highlight">curl http://api.lelylan.com/functions/504210df70eda60a00000003</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-a-function-javascript">
    <div class="preview">
      <pre><code># todo</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-a-function-ruby">
    <div class="preview">
      <pre><code># todo</code></pre>
    </div>
  </div>
</div>

<h4>Example header response</h4>

<div class="preview"><pre><code class="no-highlight">HTTP/1.1 200 OK</code></pre></div>

<h4 id="function-representation">Example body response</h4>

<div class="preview"><pre><code>{
  "uri": "http://api.lelylan.com/functions/504210df70eda60a00000003",
  "id": "504210df70eda60a00000003",
  "name": "Set intensity",
  "created_at": "2012-09-01T13:42:55Z",
  "updated_at": "2012-09-01T13:42:55Z",
  "properties": [{
    "uri": "http://api.lelylan.com/properties/50420c7e267ff51000000001",
    "value": "on"
  }, {
    "uri": "http://api.lelylan.com/properties/50420c3a267ff51300000001",
    "value": null
  }]
}</code></pre></div>

<h4>Body response explained</h4>

<dl>
  <dd><span>uri</span> - Function URI.</dd>
  <dd><span>id</span> - Function ID.</dd>
  <dd><span>name</span> - Function name.</dd>
  <dd><span>properties</span> - List of properties the function updates.</dd>
  <div>
    <dd><span>uri</span> - Property URI.</dd>
    <dd><span>value</span> - Value assigned to the device property when the function is
    executed.
    </dd>
  </div>
</dl>

<p>
<span class="label notice">Notice</span>
If you don't set a property <code>value</code> the convention is that that property should
be filled by the user. For example the function 'set intensity' requires the intensity property
to be filled by the user. For this reason its value should be <code>null</code>.
</p>

</article>


<br>

<article>
<h1 class="call"><a name="get-all-functions">GET /functions</a></h1>

<p>Returns a list of owned (and <a href="/api/core/#public-resources">public</a>) functions.</p>

<h4>Resource URL</h4>
<div class="preview">
<pre><code class="no-highlight"># created functions
GET http://api.lelylan.com/functions</code><code class="no-highlight"># all functions
GET http://api.lelylan.com/functions/public</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>name</span>
        <span class="info">optional</span>
      </td>
      <td>
        Property name to search.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>start</span>
        <span class="info">optional</span>
      </td>
      <td>
        URI of the last fetched record. Learn more about <a href="/api/core/#pagination">pagination</a>.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>per</span>
        <span class="info">optional</span>
        <span class="info">default to '25'</span>
      </td>
      <td>
        Number of resources per page.
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class=" active"><a href="#get-all-funcitons-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li><a href="#get-all-funcitons-javascript" data-toggle="tab" class="javascript">Javascript</a></li>
  <li><a href="#get-all-funcitons-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="get-all-funcitons-curl">
    <div class="preview"><pre><code class="no-highlight">curl http://api.lelylan.com/functions \
     -H 'Authorization: Bearer &lt;token&gt;'</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-all-funcitons-javascript">
    <div class="preview">
      <pre><code># todo</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-all-funcitons-ruby">
    <div class="preview">
      <pre><code># todo</code></pre>
    </div>
  </div>
</div>

<h4>Example header response</h4>

<div class="preview"><pre><code class="no-highlight">HTTP/1.1 200 OK</code></pre></div>

<h4>Example body response</h4>

<div class="preview highlight"><pre><code class="no-highlight">[
  { # function representation },
  { # function representation },
  ...
]</code></pre></div>

<p>
  See <a href="#function-representation">function representation</a> for body response.
</p>
</article>



<br/>

<article>

<h1 class="call"><a name="create-a-function">POST /functions</a></h1>

<p>
  Create a function and returns extended information for it.
</p>

<h4>Resource URL</h4>
<div class="preview">
<pre><code class="no-highlight">POST http://api.lelylan.com/functions</code></pre>
</div>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>name</span>
        <span class="info">required</span>
      </td>
      <td>
        Function name.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>properties</span>
        <span class="info">optional</span>
      </td>
      <td>
        Array of properties.
      </td>
    </tr>
    <tr>
      <td class="parameter nested">
        <span>&raquo; property.uri</span>
        <span class="info">required</span>
      </td>
      <td>
        Property URI.
      </td>
    </tr>
    <tr>
      <td class="parameter nested">
        <span>&raquo; property.value</span>
        <span class="info">optional</span>
        <span class="info">default to empty</span>
      </td>
      <td>
        Value assigned to the device property when the function is executed.<br/>
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#create-a-function-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li><a href="#create-a-function-javascript" data-toggle="tab" class="javascript">Javascript</a></li>
  <li><a href="#create-a-function-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="create-a-function-curl">
    <div class="preview">
      <pre><code class="no-highlight">curl -X POST http://api.lelylan.com/functions \
     -H 'Authorization: Bearer &lt;token&gt;' \
     -H 'Content-Type: application/json' \
     -d '{
           "name": "Set intensity",
           "properties": [
             { "uri": "http://api.lelylan.com/properties/&lt;status-id&gt;", "value": "on"},
             { "uri": "http://api.lelylan.com/properties/&lt;intensity-id&gt;" }
           ]
         }'</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="create-a-function-javascript">
    <div class="preview">
      <pre><code># todo</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="create-a-function-ruby">
    <div class="preview">
      <pre><code># todo</code></pre>
    </div>
  </div>
</div>

<h4>Example header response</h4>

<div class="preview"><pre><code class="no-highlight">HTTP/1.1 201 Created
Location: http://api.lelylan.com/functions/504210df70eda60a00000003</code></pre>
</div>

<h4>Example body response</h4>

<p>
  See <a href="#function-representation">function representation</a> for body response.
</p>

</article>

<br/>

<article>

<h1 class="call"><a name="update-a-function">PUT /functions/:id</a></h1>

<p>
  Update a function identified from its ID and returns extended information for it.
</p>

<h4>Resource URL</h4>
<div class="preview">
<pre><code class="no-highlight">PUT  http://api.lelylan.com/functions/:id</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>id</span>
        <span class="info">required</span>
      </td>
      <td>
        The ID of the desired function.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>name</span>
        <span class="info">optional</span>
      </td>
      <td>
        Function name.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>properties</span>
        <span class="info">optional</span>
      </td>
      <td>
        Array of properties.
      </td>
    </tr>
    <tr>
      <td class="parameter nested">
        <span>&raquo; property.uri</span>
        <span class="info">required</span>
      </td>
      <td>
        Property URI.
      </td>
    </tr>
    <tr>
      <td class="parameter nested">
        <span>&raquo; property.value</span>
        <span class="info">optional</span>
      </td>
      <td>
        Value assigned to the device property when the function is executed.<br/>
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#update-a-function-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li><a href="#update-a-function-javascript" data-toggle="tab" class="javascript">Javascript</a></li>
  <li><a href="#update-a-function-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="update-a-function-curl">
    <div class="preview"><pre><code class="no-highlight">
curl -X PUT http://api.lelylan.com/functions/504210df70eda60a00000003 \
     -H 'Authorization: Bearer &lt;token&gt;' \
     -H 'Content-Type: application/json' \
     -d '{
           "name": "Set intensity to 50%",
           "properties": [
             { "uri": "http://api.lelylan.com/properties/&lt;status-id&gt;", "value": "on"},
             { "uri": "http://api.lelylan.com/properties/&lt;intensity-id&gt;", "value": "50" }
           ]
         }'</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="update-a-function-javascript">
    <div class="preview">
      <pre><code># todo</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="update-a-function-ruby">
    <div class="preview">
      <pre><code># todo</code></pre>
    </div>
  </div>
</div>

<p>
<span class="label notice">Notice</span>
When updating <code>properties</code> all previous connected properties are replaced.
</p>

<h4>Example header response</h4>

<div class="preview"><pre><code class="no-highlight">HTTP/1.1 200 OK</code></pre></div>

<h4>Example body response</h4>

<p>
  See <a href="#function-representation">function representation</a> for body response.
</p>

</article>

<br/>

<article>

<h1 class="call"><a name="delete-a-function">DELETE /functions/:id</a></h1>

<p>
Delete a function identified from its ID and returns extended information for it. </br>
Connected properties are not deleted.
</p>

<h4>Resource URL</h4>
<div class="preview">
  <pre><code class="no-highlight">DELETE http://api.lelylan.com/functions/:id</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>id</span>
        <span class="info">required</span>
      </td>
      <td>
        The ID of the desired function.
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#delete-a-function-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li><a href="#delete-a-function-javascript" data-toggle="tab" class="javascript">Javascript</a></li>
  <li><a href="#delete-a-function-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="delete-a-function-curl">
      <div class="preview"><pre><code class="no-highlight">curl -X DELETE http://api.lelylan.com/functions/504210df70eda60a00000003 \
     -H 'Authorization: Bearer &lt;token&gt;' \
     -H 'Content-Length: 0'</code></pre>
  </div>
</div>
<div class="tab-pane" id="delete-a-function-javascript">
  <div class="preview">
        <pre><code># todo</code></pre>
  </div>
</div>
<div class="tab-pane" id="delete-a-function-ruby">
  <div class="preview">
        <pre><code># todo</code></pre>
  </div>
</div>
</div>

<h4>Example header response</h4>

  <div class="preview"><pre><code class="no-highlight">HTTP/1.1 200 OK</code></pre></div>

<h4>Example body response</h4>

<p>
See <a href="#function-representation">function representation</a> for body response.
</p>

</article>
