--- 
title: 'Types'
style: 'description'
---
      <article>

      <aside class="menu">
      </br>
      <table>
        <tbody>
          <tr><td>&raquo; <a href="#get-a-type">Get a type</a></td></tr>
          <tr><td>&raquo; <a href="#get-all-types">Get all types</a></td></tr>
          <tr><td>&raquo; <a href="#create-a-type">Create a type</a></td></tr>
          <tr><td>&raquo; <a href="#update-a-type">Update a type</a></td></tr>
          <tr><td>&raquo; <a href="#delete-a-type">Delete a type</a></td></tr>
        </tbody>
      </table>
      </aside>

      <h1 class="call"><a name="types">Types</a></h1>

      <p>
      A type describes the structure of a device. In its simplest form every type is
      characterized by three key elements.
      </p>

      <ul>
        <li><a href="/api/types/properties/">Properties</a>: what vary during time.</li> 
        <li><a href="/api/types/functions/">Functions</a>: what a device can do.</li>
        <li><a href="/api/types/statuses/">Statuses</a>: what a device is in a specific time of its life.</li>
      </ul>

      <p>
      Types are public for default. This means that you can search between all defined types 
      (e.g light, dimmer, alarm, heater, window, etc.) or create new ones and share them with
      everyone. Here there is an example about a possible dimmer type.
      </p>

      <br/>

      <table>
        <thead>
          <tr><td colspan="2"><strong>DIMMER STRUCTURE</strong></td></tr>
        </thead>
        <tbody>
          <tr><td><strong>Properties</strong></td><td>stauts, intensity</td></tr>
          <tr><td><strong>Functions</strong></td><td>turn on, turn off, set intensity</td></tr>
          <tr><td><strong>Statuses</strong></td><td>On, Off, 50% intensity, low intensity, high intensity</td></tr>
        </tbody>
      </table>

      </article>

      <br>

      <article>

      <h1 class="call"><a name="get-a-type">GET /types/:id</a></h1>

      <p>

      Returns extended information for a given <a href="/api/core/#public-resources">public</a> 
      type identified from its ID.
      </p>

      <h4>Resource URL</h4>
      <div class="preview">
        <pre><code class="no-highlight">GET https://api.lelylan.com/types/:id</code></pre>
      </div>

      <h4>Parameters</h4>

      <table class="zebra-striped">
        <tbody>
          <tr>
            <td class="parameter">
              <span>id</span>
              <span class="info">required</span>
            </td>
            <td>
              The ID of the desired type.
            </td>
          </tr>
        </tbody>
      </table>

      <h4>Example Request</h4>

      <ul class="tabs" data-tabs="tabs">
        <li class="curl active"><a href="#get-a-type-curl">Curl</a></li>
        <li class="js"><a href="#get-a-type-js">Javascript</a></li>
        <li class="ruby"><a href="#get-a-type-ruby">Ruby</a></li>
      </ul>

      <div class="pill-content">
        <div class="curl active" id="get-a-type-curl">
          <div class="preview">
              <pre><code class="no-highlight">curl https://api.lelylan.com/types/4e00e545d033a98909000206.json</code></pre>
          </div>
        </div>
        <div class="js" id="get-a-type-js">
          <div class="preview">
              <pre><code># todo</code></pre>
          </div>
        </div>
        <div class="ruby" id="get-a-type-ruby">
          <div class="preview">
              <pre><code># todo</code></pre>
          </div>
        </div>
      </div>

      <h4>Example header response</h4>

        <div class="preview"><pre><code class="no-highlight">HTTP/1.1 200 OK</code></pre></div>

      <h4 id="type-representation">Example body response</h4>

      <div class="preview highlight"><pre><code>{
  "uri": "https://api.lelylan.com/types/4e00e545d033a98909000206",
  "id": "4e00e545d033a98909000206",
  "name": "Dimmer",
  "created_at": "2012-07-09T08:35:57Z",
  "updated_at": "2012-07-06T04:39:15Z",
  "properties": [{
    "uri": "https://api.lelylan.com/properties/4e00e545d033a989090001f3",
    "id": "4e00e545d033a989090001f3",
    "name": "Status",
    "default": "off",
    "values": ["on","off"] }
    }, {
   "uri": "http://api.lelylan.com/properties/4e00e545d033a989090001f4",
    "id": "4e00e545d033a989090001f4",
    "name": "Intensity",
    "default": "0",
    "values": ["0", "10", "20", "30", "40", "50", "60", "70", "80", "90" "100"]
  }],
  "functions": [{
    "uri": "https://api.lelylan.com/functions/4e00e545d033a989090001f8",
    "id": "4e00e545d033a989090001f8",
    "name": "Turn on",
    "properties": [{ 
      "uri": "https://api.lelylan.com/properties/4e00e545d033a989090001f3", 
      "value": "on" }]
    }, {
    "uri": "https://api.lelylan.com/functions/4e00e545d033a989090001fa",
    "id": "4e00e545d033a989090001fa",
    "name": "Turn off",
    "properties": [{
      "uri": "https://api.lelylan.com/properties/4e00e545d033a989090001f3",
      "value": "off" }],
    }, {
    "uri": "https://api.lelylan.com/functions/4e00e545d033a989090001fe",
    "id": "4e00e545d033a989090001fe",
    "name": "Set intensity",
    "properties": [{
      "uri": "https://api.lelylan.com/properties/4e00e545d033a989090001f3",
      "value": "on"
    }, {
      "uri": "http://api.lelylan.com/properties/intensity",
      "value": ""
    }]
  }],
  "statuses": [{
    "uri": "https://api.lelylan.com/statuses/4e00e545d033a989090001fd",
    "id": "4e00e545d033a989090001fd",
    "name": "Setting intensity",
    "pending": true,
    "properties": [{ 
      "uri": "https://api.lelylan.com/properties/4e00e545d033a989090001f4", 
      "values": null,
      "range": { "min": "0", "max": "100" }
    }]
  }],
  "categories": [{
    "uri": "https://api.lelylan.com/categories/4e00e545d033a98909000205",
    "id": "4e00e545d033a98909000205",
    "name": "Lighting" }],
}</code></pre></div>

      <h4>Body Response explained</h4>

      <dl>
        <dd><span>id</span> - Type ID.</dd>
        <dd><span>uri</span> - Type URI.</dd>
        <dd><span>name</span> - Type name.</dd>
        <dd><span>properties</span> - Type properties. 
        <a href="/api/types/properties/">Learn more about properties</a>.</dd>
        <dd><span>functions</span> - Type functions. 
        <a href="/api/types/functions/">Learn more about functions</a>.</dd>
        <dd><span>statuses</span> - Type statuses. 
        <a href="/api/types/statuses/">Learn more about statuses</a>.</dd>
        <dd><span>categories</span> - Type categories. 
        <a href="/api/types/categories/">Learn more about categories</a>.</dd>
      </dl>

      <p>
      <span class="label notice">Notice</span>
      It can be a little tricky to get started with the type resource. Check out the
      <a href="/api/types/properties/">properties</a>, 
      <a href="/api/types/functions/">functions</a>,
      <a href="/api/types/statuses/">statuses</a> and
      <a href="/api/types/categories/">categories</a> connections to understand how it works.
      </p>

      </article>

      <br>

      <article>

        <h1 class="call"><a name="get-all-types">GET /types</a></h1>

        <p>Returns a list of owned (and <a href="/api/core/#public-resources">public</a>) types.</p>

        <h4>Resource URL</h4>
        <div class="preview">
        <pre><code class="no-highlight"># created types
GET https://api.lelylan.com/types</code><code class="no-highlight"># all types
GET https://api.lelylan.com/types/public</code></pre>
        </div>

        <h4>Parameters</h4>

        <table class="zebra-striped">
          <tbody>
            <tr>
              <td class="parameter">
                <span>name</span>
                <span class="info">optional</span>
              </td>
              <td>
                Type name to search.
              </td>
            </tr>
            <tr>
              <td class="parameter">
                <span>start</span>
                <span class="info">optional</span>
              </td>
              <td>
                URI of the last fetched record. Learn more about <a href="/api/core/#pagination">pagination</a>.
              </td>
            </tr>
            <tr>
              <td class="parameter">
                <span>per</span>
                <span class="info">optional</span>
                <span class="info">default to '25'</span>
              </td>
              <td>
                Number of resources per page.
              </td>
            </tr>
          </tbody>
        </table>

        <h4>Example Request</h4>

        <ul class="tabs" data-tabs="tabs">
          <li class="curl active"><a href="#get-all-types-curl">Curl</a></li>
          <li class="js"><a href="#get-all-types-js">Javascript</a></li>
          <li class="ruby"><a href="#get-all-types-ruby">Ruby</a></li>
        </ul>

        <div class="pill-content">
          <div class="curl active" id="get-all-types-curl">
            <div class="preview"><pre><code class="no-highlight">curl -L https://api.lelylan.com/types/public.json</code></pre></div>
          </div>
          <div class="js" id="get-all-types-js">
            <div class="preview">
              <pre><code># todo</code></pre>
            </div>
          </div>
          <div class="ruby" id="get-all-types-ruby">
            <div class="preview">
              <pre><code># todo</code></pre>
            </div>
          </div>
        </div>

        <h4>Example header response</h4>

        <div class="preview"><pre><code class="no-highlight">HTTP/1.1 200 OK</code></pre></div>

        <h4>Example body response</h4>

        <div class="preview highlight"><pre><code>[
  {
    "uri": "http://www.example.com/types/502a511fd033a999350001c1",
    "id": "502a511fd033a999350001c1",
    "name": "Light",
    "created_at": "2012-08-13T13:25:34Z",
    "updated_at": "2012-08-13T13:25:34Z"
  }, {
    "uri": "http://www.example.com/types/502a511fd033a999350001c2",
    "id": "502a511fd033a999350001c2",
    "name": "Dimmer",
    "created_at": "2012-08-14T13:22:39Z",
    "updated_at": "2012-08-14T13:22:39Z"
  }, 
  ...
]</code></pre></div>

      <p>
      Due to the type complexity structure the type representation is a simplified version of 
      its <a href="#type-representation">extended representation</a>.
      </p>

      </article>

      <br/>

      <article>

        <h1 class="call"><a name="create-a-type">POST /types</a></h1>

        <p>
          Create a type and returns extended information for it.
        </p>

        <h4>Resource URL</h4>
        <div class="preview">
        <pre><code class="no-highlight">POST https://api.lelylan.com/types</code></pre>
        </div>

        <h4>Parameters</h4>

        <table class="zebra-striped">
          <tbody>
            <tr>
              <td class="parameter">
                <span>name</span>
                <span class="info">required</span>
              </td>
              <td>
                Type name.
              </td>
            </tr>
            </tr>
            <tr>
              <td class="parameter">
                <span>properties</span>
                <span class="info">optional</span>
              </td>
              <td>
                List of property URIs. 
                <a href="/api/types/properties/">Learn more about properties</a>.
              </td>
            </tr>
            <tr>
              <td class="parameter">
                <span>functions</span>
                <span class="info">optional</span>
              </td>
              <td>
                List of function URIs.
                <a href="/api/types/functions/">Learn more about functions</a>.
              </td>
            </tr>
            <tr>
              <td class="parameter">
                <span>statuses</span>
                <span class="info">optional</span>
              </td>
              <td>
                List of status URIs.
                <a href="/api/types/statuses/">Learn more about statuses</a>.
              </td>
            </tr>
            <tr>
              <td class="parameter">
                <span>categories</span>
                <span class="info">optional</span>
              </td>
              <td>
                List of category URIs.
                <a href="/api/types/categories/">Learn more about categories</a>.
              </td>
          </tbody>
        </table>

        <h4>Example Request</h4>

        <p>
        <span class="label notice">Notice</span>
        In this example the resource IDs are identified from friendly names.
        </p>

        <ul class="tabs" data-tabs="tabs">
          <li class="curl active"><a href="#create-a-type-curl">Curl</a></li>
          <li class="js"><a href="#create-a-type-js">Javascript</a></li>
          <li class="ruby"><a href="#create-a-type-ruby">Ruby</a></li>
        </ul>

        <div class="pill-content">
          <div class="curl active" id="create-a-type-curl">
            <div class="preview">
              <pre><code class="no-highlight">curl -X POST https://api.lelylan.com/types.json 
     -d '{ "name": "Light", 
           "properties": ["https://api.lelylan.com/properties/:status"],
           "functions":  ["https://api.lelylan.com/functions/:turn-on",
                          "https://api.lelylan.com/functions/:turn-off"],
           "statuses":   ["https://api.lelylan.com/statuses/:on",
                          "https://api.lelylan.com/statuses/:off"]
           "categories": ["https://api.lelylan.com/categories/:lighting"],
         }'</code></pre>
            </div>
          </div>
          <div class="js" id="create-a-type-js">
            <div class="preview">
              <pre><code># todo</code></pre>
            </div>
          </div>
          <div class="ruby" id="create-a-type-ruby">
            <div class="preview">
              <pre><code># todo</code></pre>
            </div>
          </div>
        </div>

        <h4>Example header response</h4>

        <div class="preview"><pre><code class="no-highlight">HTTP/1.1 201 Created 
Location: https://api.lelylan.com/types/4dece6f3d033a9b9a90000a1</code></pre></div>

        <h4>Example body response</h4>

        <p>
          See <a href="#type-representation">type representation</a> for body response.
        </p>
      </article>



      <br/>

      <article>
        <h1 class="call"><a name="update-a-type">PUT /types/:id</a></h1>

        <p>
          Update a type identified from its ID and returns extended information for it.
        </p>

        <h4>Resource URL</h4>
        <div class="preview">
        <pre><code class="no-highlight">PUT  https://api.lelylan.com/types/:id</code></pre>
        </div>

        <h4>Parameters</h4>

        <table class="zebra-striped">
          <tbody>
            <tr>
              <td class="parameter">
                <span>id</span>
                <span class="info">required</span>
              </td>
              <td>
                The ID of the desired type.
              </td>
            </tr>
            <tr>
              <td class="parameter">
                <span>name</span>
                <span class="info">optional</span>
              </td>
              <td>
                Type name.
              </td>
            </tr>
            <tr>
              <td class="parameter">
                <span>properties</span>
                <span class="info">optional</span>
              </td>
              <td>
                List of property URIs.
                <a href="/api/types/properties/">Learn more about properties</a>.
              </td>
            </tr>
            <tr>
              <td class="parameter">
                <span>functions</span>
                <span class="info">optional</span>
              </td>
              <td>
                List of function URIs.
                <a href="/api/types/functions/">Learn more about functions</a>.
              </td>
            </tr>
            <tr>
              <td class="parameter">
                <span>statuses</span>
                <span class="info">optional</span>
              </td>
              <td>
                List of status URIs.
                <a href="/api/types/statuses/">Learn more about statuses</a>.
              </td>
            </tr>
            <tr>
              <td class="parameter">
                <span>categories</span>
                <span class="info">optional</span>
              </td>
              <td>
                List of category URIs.
                <a href="/api/types/categories/">Learn more about categories</a>.
              </td>
            </tr>
          </tbody>
        </table>

        <h4>Example Request</h4>

        <ul class="tabs" data-tabs="tabs">
          <li class="curl active"><a href="#update-a-type-curl">Curl</a></li>
          <li class="js"><a href="#update-a-type-js">Javascript</a></li>
          <li class="ruby"><a href="#update-a-type-ruby">Ruby</a></li>
        </ul>

        <div class="pill-content">
          <div class="curl active" id="update-a-type-curl">
            <div class="preview"><pre><code class="no-highlight">curl -X PUT https://api.lelylan.com/types/4dece6f3d033a9b9a90000a1.json 
     -d '{ "name": "RGB Light", 
           "properties": ["https://api.lelylan.com/properties/:status",
                          "https://api.lelylan.com/properties/:rgb"]
         }'</code></pre>

            </div>
          </div>
          <div class="js" id="update-a-type-js">
            <div class="preview">
              <pre><code># todo</code></pre>
            </div>
          </div>
          <div class="ruby" id="update-a-type-ruby">
            <div class="preview">
              <pre><code># todo</code></pre>
            </div>
          </div>
        </div>

        <p>
        <span class="label notice">Notice</span>
        When updating a type connection (properties, functions, statuses or categories) 
        all previous connected resources are replaced.
        </p>

        <h4>Example header response</h4>

        <div class="preview"><pre><code class="no-highlight">HTTP/1.1 200 OK</code></pre></div>

        <h4>Example body response</h4>

        <p>
          See <a href="#type-representation">type representation</a> for body response.
        </p>

      </article>



      <br/>

      <article>
        <h1 class="call"><a name="delete-a-type">DELETE /types/:id</a></h1>

        <p>
          Delete a type identified from its ID and returns extended information for it.
          All connected resources (properties, functions, statuses and categories) are not deleted.
        </p>

        <h4>Resource URL</h4>
        <div class="preview">
        <pre><code class="no-highlight">DELETE https://api.lelylan.com/types/:id</code></pre>
        </div>

        <h4>Parameters</h4>

        <table class="zebra-striped">
          <tbody>
            <tr>
              <td class="parameter">
                <span>id</span>
                <span class="info">required</span>
              </td>
              <td>
                The ID of the desired type.
              </td>
            </tr>
          </tbody>
        </table>

        <h4>Example Request</h4>

        <ul class="tabs" data-tabs="tabs">
          <li class="curl active"><a href="#delete-a-type-curl">Curl</a></li>
          <li class="js"><a href="#delete-a-type-js">Javascript</a></li>
          <li class="ruby"><a href="#delete-a-type-ruby">Ruby</a></li>
        </ul>

        <div class="pill-content">
          <div class="curl active" id="delete-a-type-curl">
            <div class="preview"><pre><code class="no-highlight">curl -X DELETE https://api.lelylan.com/types/4dece6f3d033a9b9a90000a1.json</code></pre>
            </div>
          </div>
          <div class="js" id="delete-a-type-js">
            <div class="preview">
              <pre><code># todo</code></pre>
            </div>
          </div>
          <div class="ruby" id="delete-a-type-ruby">
            <div class="preview">
              <pre><code># todo</code></pre>
            </div>
          </div>
        </div>

        <h4>Example header response</h4>

        <div class="preview"><pre><code class="no-highlight">HTTP/1.1 200 OK</code></pre></div>

        <h4>Example body response</h4>

        <p>
          See <a href="#type-representation">type representation</a> for body response.
        </p>
      </article>
      
