<article>

<aside class="menu">
</br>
<table>
  <tbody>
    <tr><td><a href="" class="upcase"><%= title %></a></td></tr>
    <tr><td>&raquo; <a href="#get-a-property">Get a property</a></td></tr>
    <tr><td>&raquo; <a href="#get-all-properties">Get all properties</a></td></tr>
    <tr><td>&raquo; <a href="#create-a-property">Create a property</a></td></tr>
    <tr><td>&raquo; <a href="#update-a-property">Update a property</a></td></tr>
    <tr><td>&raquo; <a href="#delete-a-property">Delete a property</a></td></tr>
  </tbody>
</table>
</aside>

<h1 class="call"><a name="properties"><%= title %></a></h1>

<p>
A property is whatever vary in a device during time. It can be the intensity in
a dimmer, the temperature in a cooling system or the volume in a television.
</p>

</article>

<br/>

<article>

<h1 class="call"><a name="get-a-property">GET /properties/:id</a></h1>

<p>Returns extended information for a given <a href="/api/core/#public-resources">public</a> property identified from its ID.</p>

<h4>Resource URL</h4>
<div class="preview">
  <pre><code class="no-highlight">GET http://api.lelylan.com/properties/:id</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>id</span>
        <span class="info">required</span>
      </td>
      <td>
        The ID of the desired property.
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#get-a-property-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li><a href="#get-a-property-node" data-toggle="tab" class="node">Node</a></li>
  <li><a href="#get-a-property-javascript" data-toggle="tab" class="javascript">Javascript</a></li>
  <li><a href="#get-a-property-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="get-a-property-curl">
    <div class="preview">
        <pre><code class="no-highlight">curl http://api.lelylan.com/properties/&lt;id&gt;</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-a-property-node">
    <div class="preview">
      <pre><code class="javascript">var Lelylan = require('lelylan-node')();
Lelylan.Property.find('&lt;id&gt;', callback);</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-a-property-javascript">
    <div class="preview">
        <pre><code># todo</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-a-property-ruby">
    <div class="preview">
        <pre><code class="ruby">lelylan = Lelylan::Client.new
property = lelylan.property('&lt;id&gt;')</code></pre>
    </div>
  </div>
</div>

<h4>Example header response</h4>

  <div class="preview"><pre><code class="no-highlight">HTTP/1.1 200 OK</code></pre></div>

<h4 id="property-representation">Example body response</h4>

<div class="preview"><pre><code>{
  "uri": "http://api.lelylan.com/properties/5041e9e9230de31300000001",
  "id": "5041e9e9230de31300000001",
  "name":" Intensity",
  "suggested": {"0": "Min", "25": "Low", "50": "Half", "75": "High", "100": "Max"},
  "default": "0",
  "created_at": "2012-09-01T10:56:41Z",
  "updated_at": "2012-09-01T10:56:41Z"
}</code></pre></div>

<h4>Body response explained</h4>

<dl>
<dd><span>uri</span> - Property URI.</dd>
<dd><span>id</span> - Property ID.</dd>
<dd><span>name</span> - Property name.</dd>
<dt><span>suggested</span> - List of suggested values. <a href="/community/faq#suggested-values">Learn more about</a>.</dt>
<dd><span>default</span> - Default property value assigned when the device is created.</dd>
</dl>

</article>

<br>

<article>

<h1 class="call"><a name="get-all-properties">GET /properties</a></h1>

<p>Returns a list of owned (and <a href="/api/core/#public-resources">public</a>) properties.</p>

<h4>Resource URL</h4>
<div class="preview">
<pre><code class="no-highlight"># created properties
GET http://api.lelylan.com/properties</code><code class="no-highlight"># all properties
GET http://api.lelylan.com/properties/public</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>name</span>
        <span class="info">optional</span>
      </td>
      <td>
        Property name to search.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>start</span>
        <span class="info">optional</span>
      </td>
      <td>
        URI of the last fetched record. Learn more about <a href="/api/core/#pagination">pagination</a>.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>per</span>
        <span class="info">optional</span>
        <span class="info">default to '25'</span>
      </td>
      <td>
        Number of resources per page.
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#get-all-properties-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li><a href="#get-all-properties-node" data-toggle="tab" class="node">Node</a></li>
  <li><a href="#get-all-properties-javascript" data-toggle="tab" class="javascript">Javascript</a></li>
  <li><a href="#get-all-properties-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="get-all-properties-curl">
    <div class="preview"><pre><code class="no-highlight">curl http://api.lelylan.com/properties \
     -H 'Authorization: Bearer &lt;token&gt;'</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-all-properties-node">
    <div class="preview">
      <pre><code class="javascript">var Lelylan = require('lelylan-node')({ token: token });
Lelylan.Property.all({}, callback); // owned resources

var Lelylan = require('lelylan-node')();
Lelylan.Property.public({}, callback); // all existing resources</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-all-properties-javascript">
    <div class="preview">
      <pre><code># todo</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="get-all-properties-ruby">
    <div class="preview">
      <pre><code class="ruby">lelylan = Lelylan::Client.new(token: token)
properties = lelylan.properties # owned resources

lelylan = Lelylan::Client.new
properties = lelylan.public_properties # all existing resources</code></pre>
    </div>
  </div>
</div>

<h4>Example header response</h4>

<div class="preview"><pre><code class="no-highlight">HTTP/1.1 200 OK</code></pre></div>

<h4>Example body response</h4>

<div class="preview highlight"><pre><code class="no-highlight">[
  { # property representation },
  { # property representation },
  ...
]</code></pre></div>

<p>
  See <a href="#property-representation">property representation</a> for body response.
</p>
</article>

<br/>

<article>

<h1 class="call"><a name="create-a-property">POST /properties</a></h1>

<p>
  Create a property and returns extended information for it.
</p>

<h4>Resource URL</h4>
<div class="preview">
<pre><code class="no-highlight">POST  http://api.lelylan.com/properties</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>name</span>
        <span class="info">required</span>
      </td>
      <td>
        Property name.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>default</span>
        <span class="info">optional</span>
      </td>
      <td>
        Default property value assigned to the device when created.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>suggested</span>
        <span class="info">optional</span>
      </td>
      <td>
        List of suggested values. <a href="/community/faq#suggested-values">Learn more about</a>.
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#create-a-property-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li><a href="#create-a-property-node" data-toggle="tab" class="node">Node.js</a></li>
  <li><a href="#create-a-property-javascript" data-toggle="tab" class="javascript">Javascript</a></li>
  <li><a href="#create-a-property-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="create-a-property-curl">
    <div class="preview">
      <pre><code class="no-highlight">curl -X POST http://api.lelylan.com/properties \
     -H 'Authorization: Bearer &lt;token&gt' \
     -H 'Content-Type: application/json' \
     -d '{
           "name": "Intensity",
           "default": "0",
           "suggested": {"0": "Min", "25": "Low", "50": "Half", "75": "High", "100": "Max"}
         }'</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="create-a-property-node">
    <div class="preview">
      <pre><code class="javascript">var Lelylan = require('lelylan-node')({ token: token });
var params = {
  name: 'Intensity',
  default: '0',
  suggested: { '0': 'Min', '25': 'Low', '50': 'Half', '75': 'High', '100': 'Max' } };

Lelylan.Property.create(params, callback);</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="create-a-property-javascript">
    <div class="preview">
      <pre><code># todo</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="create-a-property-ruby">
    <div class="preview">
      <pre><code class="ruby">lelylan = Lelylan::Client.new(token: token)
params = {
  name: 'Intensity',
  default: '0',
  suggested: {'0' => 'Min', '25' => 'Low', '50' => 'Half', '75' => 'High', '100' => 'Max' }}

property = lelylan.create_property(params)</code></pre>
    </div>
  </div>
</div>

<h4>Example header response</h4>

<div class="preview"><pre><code class="no-highlight">HTTP/1.1 201 Created
Location: http://api.lelylan.com/properties/5041e9e9230de31300000001</code></pre>
</div>

<h4>Example body response</h4>

<p>
  See <a href="#property-representation">property representation</a> for body response.
</p>

</article>

<br/>

<article>

<h1 class="call"><a name="update-a-property">PUT /properties/:id</a></h1>

<p>
  Update a property identified from its ID and returns extended information for it.
</p>

<h4>Resource URL</h4>
<div class="preview">
<pre><code class="no-highlight">PUT  http://api.lelylan.com/properties/:id</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>id</span>
        <span class="info">required</span>
      </td>
      <td>
        The ID of the desired property.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>name</span>
        <span class="info">optional</span>
      </td>
      <td>
        Property name.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>default</span>
        <span class="info">optional</span>
      </td>
      <td>
        Default property value assigned to the device when created.
      </td>
    </tr>
    <tr>
      <td class="parameter">
        <span>suggested</span>
        <span class="info">optional</span>
      </td>
      <td>
        List of suggested values. <a href="/community/faq#suggested-values">Learn more about</a>.
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#update-a-property-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li><a href="#update-a-property-node" data-toggle="tab" class="node">Node.js</a></li>
  <li><a href="#update-a-property-javascript" data-toggle="tab" class="javascript">Javascript</a></li>
  <li><a href="#update-a-property-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="update-a-property-curl">
    <div class="preview"><pre><code class="no-highlight">curl -X PUT http://api.lelylan.com/properties/&lt;id&gt; \
     -H 'Authorization: Bearer &lt;token&gt' \
     -H 'Content-Type: application/json' \
     -d '{ "default": "100" }'</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="update-a-property-node">
    <div class="preview">
      <pre><code class="javascript">var Lelylan = require('lelylan-node')({ token: token });
var params = { default: '100' };
Lelylan.Property.update('&lt;id&gt;', params, callback);</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="update-a-property-javascript">
    <div class="preview">
      <pre><code># todo</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="update-a-property-ruby">
    <div class="preview">
      <pre><code class="ruby">lelylan = Lelylan::Client.new(token: token)
params = { default: '100' };
property = lelylan.update_property('&lt;id&gt;', params)</code></pre>
    </div>
  </div>
</div>

<h4>Example header response</h4>

<div class="preview"><pre><code class="no-highlight">HTTP/1.1 200 OK</code></pre></div>

<h4>Example body response</h4>

<p>
  See <a href="#property-representation">property representation</a> for body response.
</p>

</article>

<br/>

<article>

<h1 class="call"><a name="delete-a-property">DELETE /properties/:id</a></h1>

<p>
  Delete a property identified from its ID and returns extended information for it.
</p>

<h4>Resource URL</h4>
<div class="preview">
<pre><code class="no-highlight">DELETE http://api.lelylan.com/properties/:id</code></pre>
</div>

<h4>Parameters</h4>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td class="parameter">
        <span>id</span>
        <span class="info">required</span>
      </td>
      <td>
        The ID of the desired property.
      </td>
    </tr>
  </tbody>
</table>

<h4>Example Request</h4>

<ul class="nav nav-tabs">
  <li class=" active"><a href="#delete-a-property-curl" data-toggle="tab" class="curl">Curl</a></li>
  <li class=""><a href="#delete-a-property-node" data-toggle="tab" class="node">Node.js</a></li>
  <li class=""><a href="#delete-a-property-javascript" data-toggle="tab" class="javascript">Javascript</a></li>
  <li class=""><a href="#delete-a-property-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="delete-a-property-curl">
    <div class="preview"><pre><code class="no-highlight">curl -X DELETE http://api.lelylan.com/properties/&lt;id&gt; \
     -H 'Authorization: Bearer &lt;token&gt' \
     -H 'Content-Length: 0'</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="delete-a-property-node">
    <div class="preview">
      <pre><code class="javascript">var Lelylan = require('lelylan-node')({ token: token });
Lelylan.Property.delete('&lt;id&gt;', callback);</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="delete-a-property-javascript">
    <div class="preview">
      <pre><code># todo</code></pre>
    </div>
  </div>
  <div class="tab-pane" id="delete-a-property-ruby">
    <div class="preview">
      <pre><code class="ruby">lelylan = Lelylan::Client.new(token: token)
property = lelylan.delete_property('&lt;id&gt;')</code></pre>
    </div>
  </div>
</div>

<h4>Example header response</h4>

<div class="preview"><pre><code class="no-highlight">HTTP/1.1 200 OK</code></pre></div>

<h4>Example body response</h4>

<p>
  See <a href="#property-representation">property representation</a> for body response.
</p>
</article>
