
<p>
Create new services and new apps for the connected home using web components or wrappers
in your favorite language. It takes 15 minutes to create your firs web app using Lelylan.
</p>

<br>

<div>
  <ly-project ly-project-id="547d9f7f316135000e030000"></ly-project>
  <ly-project ly-project-id="547da0ce3161350014020000"></ly-project>
  <ly-project ly-project-id="547da5c8316135000e040000"></ly-project>
  <ly-project ly-project-id="547da3593161350014030000"></ly-project>
  <ly-project ly-project-id="547da6b9316135000e050000"></ly-project>
  <ly-project ly-project-id="547da884316135000b010000"></ly-project>
  <ly-project ly-project-id="547da8033161350011010000"></ly-project>
  <link rel="stylesheet" href="http://lelylan.github.io/lab-directives-ng/styles/main.css">
  <script src="http://lelylan.github.io/lab-directives-ng/scripts/vendor.js"></script>
  <script src="http://lelylan.github.io/lab-directives-ng/scripts/scripts.js"></script>
  <script>angular.module('project-app', ['lelylan-lab.directives.project']);</script>
</div>

<br style="clear:both"><br><br>

<h2 id="projects-feedback"><span class="glyphicon glyphicon-comment"></span> Are we missing something?</h2>

<p>
And if you think we are missing
some wrappers, apps or services, let
<a href="http://twitter.com/lelylan">@lelylan</a> know on Twitter.
If you find a bug or have any questions, do not hesitate to send them to
<a href="mailto:dev@lelylan.com">dev@lelylan.com</a>.
</p>

<div class="alert alert-info">
<p>
If you want to learn more about Lelylan API check out the <a href="/developers">Developers API</a>.
</p>
</div>
