
<p>
Create a connected light using the hardware platforms you are most familiar with
(e.g. Arduino, Raspberry, Electric Imp, CC3000). It takes 15 minutes to create
your first connected light.
</p>

<br>

<div>
  <ly-project ly-project-id="5457a05d386166000e010000"></ly-project>
  <ly-project ly-project-id="5457a193386166008d000000"></ly-project>
  <ly-project ly-project-id="547d9104316135000e000000"></ly-project>
  <ly-project ly-project-id="547d92bd316135000e010000"></ly-project>
  <ly-project ly-project-id="547d948d3161350014000000"></ly-project>
  <ly-project ly-project-id="547d9714316135000b000000"></ly-project>
  <ly-project ly-project-id="547d9a113161350014010000"></ly-project>
  <ly-project ly-project-id="547d9b5b3161350011000000"></ly-project>
  <ly-project ly-project-id="547d9c1b316135000e020000"></ly-project>
  <link rel="stylesheet" href="http://lelylan.github.io/lab-directives-ng/styles/main.css">
  <script src="http://lelylan.github.io/lab-directives-ng/scripts/vendor.js"></script>
  <script src="http://lelylan.github.io/lab-directives-ng/scripts/scripts.js"></script>
  <script>angular.module('project-app', ['lelylan-lab.directives.project']);</script>
</div>

<br style="clear:both"><br><br>



<h2><span class="glyphicon glyphicon-comment"></span> Are we missing something?</h2>

<p>
If you think we are missing some hardware platform, let
<a href="http://twitter.com/lelylan">@lelylan</a> know on Twitter.
If you find a bug or have any questions, do not hesitate to send them to
<a href="mailto:dev@lelylan.com">dev@lelylan.com</a>.
</p>

<div class="alert alert-info">
<p>
To learn more about hardware integration check out the
<a href="/makers">Makers API</a>.
</p>
</div>
