<h2 id="overview-what-is-lelylan">What is Lelylan</h2>

<p>
Lelylan is a open API and a set of tools that make it simple to build the Connected Home.
In this way makers can focus on the hardware and on the design process, while developers
can create new apps and services for the web, the mobile and much more.
</p>

<h2 id="overview-how-does-it-work">How does it work</h2>

<p>
  Any request sent to the Lelylan API is forwarded the the physical device, which
  is in charge of applying the desired changes and of sending back a confirmation
  message when those are made.
</p>

<%= render 'shared/animations/lelylan' %>

<h2 id="overview-core-concepts">Core concepts</h2>

<p>
  Lelylan is based on three resources. Just grasp the general concept behind them
  and don't worry if something is not clear, we'll come back later on them.
</p>

<h3>Devices</h3>

<p>
  A Device is a resource virtually representing everything you interact with everyday of your
  life like lights, appliances, alarms, cooling and heating systems, gas sensors, rolling
  shutters, windows, irrigations, video surveillance, gates, multimedia (audio and
  video) and much more. With a Device you can simulate, monitor and
  control any of those devices through a unique URL.
</p>

<h3>Physicals</h3>

<p>
Whereas Devices are a virtual representation, Physicals are the real objects
you interact with everyday of your life. To enable the communication between Lelylan
and the physical world, the physical device must be able to connect to the Internet
and to implement the Physical API (which we'll see later).
<p>

<h3>Types</h3>

<p>
A Type describes the structure of a device. In its simplest form every Type is defined
as the combination of three key elements.
</p>

<ul>
  <li><em>Properties</em> - what vary during time.</li>
  <li><em>Functions</em> - what a device can do.</li>
  <li><em>Statuses</em> - what a device is in a specific time of its life.</li>
</ul>
