        <div id="core-animation" class="animation">

          <div id="core-animation-canvas" class="canvas"></div>

          <div class="first-step">

            <a class="btn btn-warning" href="#">Send request to Lelylan &raquo;</a>

            <p>
            A user using a third party application updates the device properties. A request
            is sent to Lelylan which will apply it. For example the following request turns
            on a light by setting its status value to on.
            </p>

            <div class="preview"><pre><code class="no-highlight">PUT https://api.lelylan.com/devices/light-id/properties
    {
      "properties": [{
        "uri": "https://api.lelylan.com/properties/status-id", 
        "value": "on" 
      }]
    }</code></pre></div>

            </div>

            <div class="second-step">

              <a class="btn btn-warning" href="#">Apply Lelylan request &raquo;</a>

              <p>
              Lelylan receives the request and forwards it to the connected physical device which
              will execute the request. Lelylan withouth waiting for the physical device to 
              apply the requested changes (optimistic flow) returns the expected device
              representation.
              </p>

              <div class="preview unified"><pre><code class="no-highlight">HTTP/1.1 202 Accepted</code></pre></div>
              <div class="preview"><pre><code>{
  "uri": "https://api.lelylan.com/devices/light-id",
  "id": "light-id",
  "name": "Connected Light",
  "type": { "uri": "https://api.lelylan.com/types/light-type-id" },
  "properties": [{ 
    "uri": "https://api.lelylan.com/properties/status-id", 
    "id": "status-id",
    "value": "on"
  }]
}</code></pre></div>

              </div>

              <div class="third-step">

                <p>
                Once the request is applied to the physical device Lelylan notifies the third party
                application through the (upcoming) streaming service if the request has been
                completed successfully or not sending the changed properties. 
                </p>

              <div class="preview unified"><pre><code class="no-highlight">HTTP/1.1 200 OK</code></pre></div>
              <div class="preview"><pre><code>{
  "uri": "https://api.lelylan.com/devices/light-id",
  "id": "light-id",
  "properties": [{ 
    "uri": "https://api.lelylan.com/properties/status-id", 
    "id": "status-id",
    "value": "on"
  }]
}</code></pre></div>

              </div>

            </div>

            <script>
              $(function () { Site.animation.init('#core-animation'); })
            </script>
