        <div id="core-animation" class="animation">

          <div id="core-animation-canvas" class="canvas"></div>

          <div class="first-step">

            <a class="btn btn-warning" href="#">Send request&raquo;</a>

            <p>
            Using a third party application a user updates the device properties. For example
            the following request turns on a light by setting its status value to <code>on</code>.
            </p>

          <div class="preview unified"><pre><code class="no-highlight">PUT https://api.lelylan.com/devices/&lt;light-id&gt;/properties</code></pre></div>
            <div class="preview"><pre><code>{
  "properties": [{
    "uri": "https://api.lelylan.com/properties/&lt;status-id&gt;",
    "value": "on"
  }]
}</code></pre></div>

            </div>

            <div class="second-step">

              <a class="btn btn-warning" href="#">Get reatime updates &raquo;</a>

              <p>
              Lelylan receives the request and forwards it to the connected
              <a href="/api/physicals">physical device</a>. Lelylan does not wait for
              the physical device to apply the request and returns the expected device
              representation (optimistic flow).
              </p>

              <div class="preview unified"><pre><code class="no-highlight">HTTP/1.1 202 Accepted</code></pre></div>
              <div class="preview"><pre><code>{
  "uri": "https://api.lelylan.com/devices/&lt;light-id&gt;",
  "id": "&lt;light-id&gt;",
  "name": "Connected Light",
  "type": { "uri": "https://api.lelylan.com/types/&lt;light-type-id&gt;" },
  "physical": { "uri": "http://arduino.house.com/&lt;physical-light-id/&gt;" },
  "properties": [{
    "uri": "https://api.lelylan.com/properties/&lt;status-id&gt;",
    "id": "&lt;status-id&gt;",
    "value": "on"
  }]
}</code></pre></div>

              </div>

              <div class="third-step">

                <p>
                Once the request is applied to the physical device Lelylan notifies the third
                party application through the <a href="/api/realtime">realtime service</a>. For
                example subscribe to all property updates.
                </p>

              <div class="preview unified"><pre><code class="no-highlight">POST http://api.lelylan.com/subscriptions</code></pre></div>
              <div class="preview"><pre><code>{
  "resource": "device",
  "event": "property-update",
  "callback_uri": "http://example.com/callback"
}</code></pre></div>

              </div>

            </div>

            <script>
              $(function () { Site.animation.init('#core-animation'); })
            </script>
