        <div id="core-animation" class="animation">

          <div id="core-animation-canvas" class="canvas"></div>

          <div class="first-step">
            <div class="action">
              <a class="btn-lelylan" href="#">Send request &raquo;</a>
            </div>

            <p>
            A user turn on a light using a third party application (e.g dashboard, mobile app)
            which uses the REST API to forward the request to Lelylan.
            </p>
          </div>

          <div class="second-step">
            <div class="action">
              <a class="btn-lelylan" href="#">Get reatime updates &raquo;</a>
            </div>

            <p>
            Lelylan receives the request and forwards it to the connected physical device.
            Lelylan does not wait for the physical device to apply the request and returns
            the expected device representation (optimistic async flow).
            </p>
          </div>

          <div class="third-step">
            <div class="action">
              <a class="btn-lelylan" href="#">Get reatime updates &raquo;</a>
            </div>

            <p>
            Once the physical device applies the request a message is sent to Lelylan,
            which in turn, notifies the third party applications.
            </p>
          </div>
        </div>

        <script>
          $(function () { Site.animation.init('#core-animation'); })
        </script>
