
      <div id="node-animation" class="animation">
        <div id="node-animation-canvas" class="canvas"></div>

        <div class="first-step">

          <a class="btn btn-warning" href="#">Apply request &raquo;</a>

          <p>
          When you update the device status changing its
          <a href="/api/devices#update-properties">properties</a> or executing a
          <a href="/api/devices#execute-a-function">function</a>, Lelylan forward
          the request to the connected physical device URI to update its properties.
          </p>

          <div class="preview unified"><pre><code class="no-highlight">PUT http://arduino.house.com/:physical-light-id</code></pre></div>
          <div class="preview"><pre><code>{
  "properties": [{
    "uri": "http://api.lelylan.com/properties/:status-id",
    "id": "status-id", "value": "on"
  }]
}</code></pre></div>

        </div>

        <div class="second-step">

          <a class="btn btn-warning" href="#">Notify Lelylan &raquo;</a>

          <p>
          When the physical device receives the request returns a 202 status.
          This lets Lelylan know that the request has been accepted.
          </p>

          <div class="preview unified"><pre><code class="no-highlight">HTTP/1.1 202 Accepted</code></pre></div>

          <p>
          At this point the physical device applies the request using the desired
          communication protocol (e.g Zigbee, WiFi, Konnex, Lonworks, Bluetooth, etc.).
          </p>

        </div>

        <div class="third-step">

          <p>
          When the physical device applies the desired changes in the physical world
          it should notify Lelylan about the changes.
          </p>
          <div class="preview unified"><pre><code class="no-highlight">PUT http://api.lelylan.com/devices/:ligt-id</code></pre></div>
          <div class="preview"><pre><code>{
  "properties": [{
    "uri": "http://api.lelylan.com/properties/:status-id",
    "value": "on"
  }]
}</code></pre></div>

          <p>
          As the whole physical communication flow is asynchronous, subscribe to the
          <a href="/api/realtime">realtime service</a> to have realtime notifications.
          </p>

        </div>
      </div>

      <script>
        $(function () { Site.animation.init('#node-animation'); })
      </script>
