
      <div id="node-animation" class="animation">
        <div id="node-animation-canvas" class="canvas"></div>

        <div class="first-step">

          <a class="btn btn-warning" href="#">Forward Lelylan request &raquo;</a>

          <p>
          When you update the <a href="/api/devices#update-properties/">device properties</a>
          Lelylan forward a request to the physical device to update its properties.
          For example the following request turns on a light by setting its status
          value to on.
          </p>

          <div class="preview"><pre><code class="no-highlight">PUT https://arduino.house.com/physical-light-id
    {
      "properties": [{
        "uri": "https://api.lelylan.com/properties/status-id", 
        "id": "status-id",
        "value": "on" 
      }]
    }</code></pre></div>
        </div>

        <div class="second-step">

          <a class="btn btn-warning" href="#">Apply Lelylan request &raquo;</a>
          <p>
          When the physical device receives the request it must transform it to be compliant with
          a standard like Zigbee, Wifi or Konnex (use the one you feel most confident with).
          </p>

        </div>

        <div class="third-step">

          <p>
          The physical device apply the requested changes and responds with its
          updated JSON representation.
          </p>

          <div class="preview unified"><pre><code class="no-highlight">HTTP/1.1 200 OK</code></pre></div>
          <div class="preview"><pre><code>{
  "uri": "https://arduino.house.com/physical-light-id",
  "id": "physical-light-id",
  "name": "Physical light",
  "type": { "uri": "https://api.lelylan.com/types/light-type-id" },
  "callback": { "uri": "https://api.lelylan.com/devices/light-id" },
  "properties": [{ 
    "uri": "https://api.lelylan.com/properties/status-id", 
    "id": "4decdd07d033a95e25000046",
    "physical": "on"
  }]
}</code></pre></div>

        </div>
      </div>

      <script>
        $(function () { Site.animation.init('#node-animation'); })
      </script>
