
      <div id="node-animation" class="animation">
        <div id="node-animation-canvas" class="canvas"></div>

        <div class="first-step">

          <a class="btn btn-warning" href="#">Forward Lelylan request &raquo;</a>

          <p>
          When you update the device status changing its
          <a href="/api/devices#update-properties">properties</a> or executing a
          <a href="/api/devices#execute-a-function">function</a>, Lelylan forward
          the request to the connected physical device URI to update its properties.
          </p>

          <div class="preview"><pre><code class="no-highlight">PUT http://arduino.house.com/physical-light-id
    {
      "properties": [{
        "uri": "http://api.lelylan.com/properties/status-id",
        "id": "status-id", "value": "on"
      }]
    }</code></pre></div>

        </div>

        <div class="second-step">

          <a class="btn btn-warning" href="#">Apply Lelylan request &raquo;</a>
          <p>
          When the physical device receives the request it must transform it to be compliant
          with a standard like Zigbee, WiFi, X10, Konnex or the one you feel most confident with.
          At this point <strong>the physical device applies the desired changes in the physical
          world</strong>.
          </p>

        </div>

        <div class="third-step">

          <p>
          Once the physical device has changed its status, Lelylan gets notified with its
          updated JSON representation. As the whole physical device flow is
          <a href="/api/devices#physical-request-process">asynchronous</a>, subscribe
          to the <a href="/api/realtime">realtime service</a> to have realtime notifications.
          </p>

          <div class="preview unified"><pre><code class="no-highlight">HTTP/1.1 200 OK</code></pre></div>
          <div class="preview"><pre><code>{
  "uri": "http://arduino.house.com/physical-light-id",
  "callback": { "uri": "http://api.lelylan.com/devices/light-id" },
  "properties": [{
    "uri": "http://api.lelylan.com/properties/status-id",
    "id": "status-id", "physical": "on"
  }]
}</code></pre></div>

        </div>
      </div>

      <script>
        $(function () { Site.animation.init('#node-animation'); })
      </script>
