
      <div id="node-animation" class="animation">
        <div id="node-animation-canvas" class="canvas"></div>

        <div class="first-step">

          <div class="action">
            <a class="btn-lelylan" href="#">Send request &raquo;</a>
          </div>

          <p>
          When you update a device
          <a href="/api/devices#update-properties">property</a> or you execute a
          <a href="/api/devices#execute-a-function">function</a> using Lelylan, the request
          is forwarded to the connected physical device URI.
          </p>
        </div>

        <div class="second-step">

          <div class="action">
            <a class="btn-lelylan" href="#">Apply physical changes &raquo;</a>
          </div>

          <p>
          When the physical device receives the request, it applies the request using the desired
          communication protocol (e.g WiFi, Ethernet, Bluetooth, Zigbee, Konnex, Lonworks, etc.).
          </p>

        </div>

        <div class="third-step">

          <div class="action">
            <a class="btn-lelylan" href="#">Notify Lelylan &raquo;</a>
          </div>

          <p>
          When the physical device applies the desired changes, Lelylan needs to be notified.
          To receive the realtime updates about those updates use the
          <a href="/api/realtime">realtime service</a>.
          </p>

        </div>
      </div>

      <script>
        $(function () { Site.animation.init('#node-animation'); })
      </script>
