        <h4>Considerations about the physical world</h4>

        <p>
        When you send the request two flows can be applied. Which one is chosen, depends
        from the device being connected or not to a physical device.
        </p>

        <ul>
          <li>
          <strong>Not connected physical device</strong>. Changes are instantaneously
          applied and you get the final device representation. No changes are applied to
          the physical world.
          </li>

          <li>
          <strong>Connected physical device</strong>.
          Changes are not instantaneously applied. What you get back is the expected device
          representation. This means that what you get back is not the actual physical device
          representation, but the one you asked for (optimistic flow). To know more about the
          device check out its <a href="/community/faq#pending-devices">pending status</a> and
          get <a href="/api/realtime">realtime feedback</a>.
          </li>
        </ul>

        <h4>Example header response</h4>

        <p> With no connected physical device you get a 200 response.</p>
        <div class="preview"><pre><code class="no-highlight">HTTP/1.1 200 OK</code></pre></div>

        <p>
          With a connected physical device you get a
          <a href="https://tools.ietf.org/html/rfc2616#section-10.2.3">202 response</a>.
        </p>
        <div class="preview"><pre><code class="no-highlight">HTTP/1.1 202 Accepted</code></pre></div>

