<div class="introduction">

  <nav class="nav-intro">
    <ul>
      <li>
      <a href="/api/devices" title="">
        <span class="icon"><i aria-hidden="true" class="icon-blog"></i></span>
        <span>Devices API <span class="small"> | interacting with the connected home</span></span>
      </a>
      </li>
      <li>
      <a href="/api/physicals" title="">
        <span class="icon"><i aria-hidden="true" class="icon-blog"></i></span>
        <span>Physical Devices API <span class="small"> | connecting the physical world</span></span>
      </a>
      </li>
      <li>
      <a href="/api/types" title="">
        <span class="icon"><i aria-hidden="true" class="icon-blog"></i></span>
        <span>Types API <span class="small"> | structuring the connected home</span></span>
      </a>
      </li>
      <li>
      <a href="/api/locations" title="">
        <span class="icon"><i aria-hidden="true" class="icon-blog"></i></span>
        <span>Locations API <span class="small"> | Places we live in | </span></span>
          <span class="label">todo</span>
      </a>
      </li>
      <li>
      <a href="/api/activations" title="">
        <span class="icon"><i aria-hidden="true" class="icon-blog"></i></span>
        <span>Activations API <span class="small"> | Selling your cool devices</span></span>
      </a>
      </li>
      <li>
      <a href="/api/oauth" title="">
        <span class="icon"><i aria-hidden="true" class="icon-blog"></i></span>
        <span>OAuth 2.0 <span class="small"> | Authorizing your resources</span></span>
      </a>
      </li>
      <li>
      <a href="/api/realtime" title="">
        <span class="icon"><i aria-hidden="true" class="icon-blog"></i></span>
        <span>Realtime API <span class="small"> | Getting realtime notifications</span></span>
      </a>
      </li>
      <li>
      <a href="/api/core" title="">
        <span class="icon"><i aria-hidden="true" class="icon-blog"></i></span>
        <span class="highlight">Core Concepts <span class="small"> | shared ideas</span></span>
      </a>
      </li>
    </ul>
  </nav>
</div>
