<%= render 'menus/architecture' %>

<div ng-app="project-app">

  <div class="col-md-9 bs-docs" role="main">
    <div class="bs-title">
      <h1 id="architecture">Architecture</h1>
      <h4>Microservices Explained</h4>
      <a href="https://github.com/lelylan/dev/blob/master/app/views/pages/architecture/_architecture.html.erb" class="github-edit">
        <%= image_tag('github/Light-32px.png') %>
      </a>
    </div>
    <div class="bs-docs-section">
      <%= render 'pages/architecture/architecture' %>
    </div>
  </div>
</div>