<h2><%= Settings.titles['community'] %></h2>

<article>
<div><h3><%= link_to 'Client libraries', static_path('community/clients') %></h3> <span>Use your favorite language</span></div>
<div><h3><%= link_to 'Support', static_path('community/support') %></h3> <span>Solve any problems</span></div>
<div><h3><%= link_to 'FAQ', static_path('community/faq') %></h3> <span>Frequently asked questions</span></div>
<!--<div><h3><a href="https://lelylan.uservoice.com">Feedback</a></h3> <span>Tell us your ideas</span></div>-->
</article>
