<div class="introduction">

  <h2 class="internal"><%= Settings.titles['community'] %></h2>

  <p>
  Lelylan is made up of a community group and a team of people working everyday to give you the
  best services out there. Join us and do not hesitate to contact us for any doubt or question.
  </p>

  <nav class="nav-intro">
    <ul>
      <li>
      <a href="/community/clients" title="">
        <span class="icon"><i aria-hidden="true" class="icon-blog"></i></span>
        <span class="highlight">Client Libraries <span class="small"> | building the connected home with your favorite language</span></span>
      </a>
      </li>
      <li>
      <a href="/community/support" title="">
        <span class="icon"><i aria-hidden="true" class="icon-blog"></i></span>
        <span>Support<span class="small"> | assisting you and your team for any question</span></span>
      </a>
      </li>
      <li>
      <a href="/community/faq" title="">
        <span class="icon"><i aria-hidden="true" class="icon-blog"></i></span>
        <span class="highlight">FAQ<span class="small"> | frequently asked questions</span></span>
      </a>
      </li>
    </ul>
  </nav>
</div>

