<%= render 'menus/getting_started' %>

<div ng-app="project-app">

<div class="col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="getting-started">Getting Started</h1>
    <h4>Lelylan basic concepts</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/getting_started/overview' %>
  </div>
</div>

<div class="col-md-offset-3 col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="makers">Create your first Connected Light</h1>
    <h4>For makers, kickstarters and manifacturers</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/getting_started/makers' %>
  </div>
</div>

<div class="col-md-offset-3 col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="developers">Create Connected Home Apps</h1>
    <h4>Web components and wrappers in different languages</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/getting_started/developers' %>
  </div>
</div>

</div>
