<nav  id="getting" class="nav">
<ul>
  <li>
    <a href="#" title="">
      <span  class="icon"><i aria-hidden="true" class="icon-home"></i></span>
      <span class="highlight">Getting Started</span>
    </a>
  </li>
  <li>
    <a href="#" title="">
      <span class="icon"><i aria-hidden="true" class="icon-services"></i></span>
      <span>Connect your first physical device</span>
      <span class="label warning">todo</span>
    </a>
  </li>
  <li>
  <a  href="#" title="">
    <span  class="icon"><i  aria-hidden="true" class="icon-services"></i></span>
    <span>Build your first connected home app</span>
    <span class="label warning">todo</span>
  </a>
  </li>
  <li>
  <a  href="#" title="">
    <span  class="icon"><i  aria-hidden="true" class="icon-blog"></i></span>
    <span>See existing projects</span></a>
  </li>
</ul>
</nav>

