<div class="introduction">

  <h1>Building the Connected Home</h1>

  <p>
  A simple, open and consistent REST API to access every physical devices in your house
  through a unique URL. Get started and learn the connected home basics.
  </p>

  <nav class="nav-intro">
    <ul>
      <li>
        <a href="/start/introduction" title="">
          <span  class="icon"><i aria-hidden="true" class="icon-home"></i></span>
          <span class="highlight">Getting Started</span>
        </a>
      </li>
      <li class="todo">
        <a title="">
          <span class="icon"><i aria-hidden="true" class="icon-services"></i></span>
          <span>Connect your first physical device</span>
          <span class="label warning">todo</span>
        </a>
      </li>
      <li class="todo">
      <a title="">
        <span  class="icon"><i  aria-hidden="true" class="icon-services"></i></span>
        <span>Build your first connected home app</span>
        <span class="label warning">todo</span>
      </a>
      </li>
      <li>
      <a  href="/start/projects" title="">
        <span  class="icon"><i  aria-hidden="true" class="icon-blog"></i></span>
        <span>See existing projects</span></a>
      </li>
    </ul>
  </nav>

  <div class="clear"></div><br><br>

  <h2 class="internal">Developers</h2>

  <p>
  Connect your device to the web using Lelylan and make it accessible through a rich
  set of API. Your products become part of a bigger platform where devices communicate
  with each other.
  </p>

  <nav class="nav-intro">
    <ul>
      <li>
        <a href="/api" title="">
          <span  class="icon"><i aria-hidden="true" class="icon-home"></i></span>
          <span class="highlight">Lelylan API</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/lelylan/device-component-ng" title="">
          <span class="icon"><i aria-hidden="true" class="icon-services"></i></span>
          <span>Javascript Device Component</span>
        </a>
      </li>
      <li>
        <a href="/community/clients" title="">
          <span class="icon"><i aria-hidden="true" class="icon-team"></i></span>
          <span>Client Libraries</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="clear"></div><br><br>

  <h2 class="internal">Makers</h2>

  <p>
  Connect your device to the web using Lelylan and make it accessible through a rich
  set of API. Your products become part of a bigger platform where devices communicate
  with each other.
  </p>

  <nav class="nav-intro">
    <ul>
      <li>
        <a href="/api/physicals" title="">
          <span  class="icon"><i aria-hidden="true" class="icon-home"></i></span>
          <span class="highlight">Lelylan Physical API</span>
        </a>
      </li>
      <li class="todo">
        <a title="">
          <span class="icon"><i aria-hidden="true" class="icon-services"></i></span>
          <span>Learn by examples</span>
          <span class="label warning">todo</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
