<div class="introduction">

  </p>

  <h2>Introduction</h2>

  <p>
  Welcome to Lelylan Dev Center. This place will help you to familiarize with the development
  of devices and applications for the <a href="http://beta.lelylan.com">Connected Home</a>
  providing detailed information about Lelylan's platform-specific features and about where to
  get help when you need it.
  </p>

  <nav class="nav-intro">
    <ul>
      <li>
        <a href="/start/introduction" title="Getting Started">
          <span class="icon"><i aria-hidden="true" class="icon-home"></i></span>
          <span class="highlight">Getting Started</span>
        </a>
        </li>
    </ul>
  </nav>

  <div class="clear"></div><br><br>

  <h2 class="internal">Makers</h2>

  <p>
  Connect your device to the web using Lelylan and make it accessible through a rich
  set of API. Your products become part of a bigger platform where devices communicate
  with each other.
  </p>

  <nav class="nav-intro">
    <ul>
      <li class="todo">
        <a href="#" title="">
          <span class="icon"><i aria-hidden="true" class="icon-services"></i></span>
          <span>Connect your first physical device</span>
          <span class="label">todo</span>
        </a>
      </li>
      <li>
        <a href="/api/physicals" title="">
          <span  class="icon"><i aria-hidden="true" class="icon-home"></i></span>
          <span class="highlight">Lelylan Physical API</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="clear"></div><br><br>

  <h2 class="internal">Developers</h2>

  <p>
  Connect your device to the web using Lelylan and make it accessible through a rich
  set of API. Your products become part of a bigger platform where devices communicate
  with each other.
  </p>

  <nav class="nav-intro">
  <ul>
    <li class="todo">
      <a href="#" title="">
        <span  class="icon"><i  aria-hidden="true" class="icon-services"></i></span>
        <span>Build your first connected home app</span>
        <span class="label">todo</span>
      </a>
      </li>
      <li>
        <a href="/api" title="">
          <span  class="icon"><i aria-hidden="true" class="icon-home"></i></span>
          <span class="highlight">Lelylan API</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/lelylan/device-component-ng" title="">
          <span class="icon"><i aria-hidden="true" class="icon-services"></i></span>
          <span>HTML5 Device Component</span>
        </a>
      </li>
      <li>
        <a href="/community/clients" title="">
          <span class="icon"><i aria-hidden="true" class="icon-team"></i></span>
          <span>Client Libraries</span>
        </a>
      </li>
      <li>
      <a  href="/start/projects" title="">
        <span  class="icon"><i  aria-hidden="true" class="icon-blog"></i></span>
        <span>Existing projects</span></a>
      </li>

    </ul>
  </nav>
</div>

<div class="clear"></div><br><br>
