<div class="introduction">

  <h2 class="internal">What is Lelylan</h2>

  <p>
  Welcome to Lelylan Dev Center.
  This place will help you to familiarize with the development of physical devices and apps for
  the connected home providing detailed information about Lelylan's platform specific features
  and about where to get help when you need it.
  </p>

  <p>
  With Lelylan, makers and developers can monitor and control any device through a consistent
  representation of them. Every device in your house is mapped to a unique URI which will provide
  a simple access over it. Nothing else to know.
  </p>

  <nav class="nav-intro">
    <ul>
      <li>
        <a href="/start/introduction" title="Getting Started">
          <span class="icon"><i aria-hidden="true" class="icon-home"></i></span>
          <span class="highlight">Getting Started</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="clear"></div><br><br>

  <h2 class="internal">Makers, Designers and Kickstarters</h2>

  <p>
  Connect new physical device to the web and make it accessible through a rich set of API.
  Your products become part of a bigger platform where devices communicate with each other
  and where services like IFTTT, Twitter and Glasses can be easily integrated.
  </p>

  <nav class="nav-intro">
    <ul>
      <li class="todo">
        <a href="#" title="">
          <span class="icon"><i aria-hidden="true" class="icon-services"></i></span>
          <span>Connect your first physical device</span>
          <span class="label">todo</span>
        </a>
      </li>
      <li>
        <a href="/api/physicals" title="">
          <span  class="icon"><i aria-hidden="true" class="icon-home"></i></span>
          <span class="highlight">Lelylan Physical API</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="clear"></div><br><br>

  <h2 class="internal">Web Developers and Designers</h2>

  <p>
  A simple, open and consistent REST API to access every physical device in your house through
  a unique URL. With wrappers in Angular, Ruby, Node.js and more, you can get started in minutes.
  </p>

  <nav class="nav-intro">
  <ul>
    <li class="todo">
      <a href="#" title="">
        <span  class="icon"><i  aria-hidden="true" class="icon-services"></i></span>
        <span>Build your first connected home app</span>
        <span class="label">todo</span>
      </a>
      </li>
      <li>
        <a href="/api" title="">
          <span  class="icon"><i aria-hidden="true" class="icon-home"></i></span>
          <span class="highlight">Lelylan API</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/lelylan/device-component-ng" title="">
          <span class="icon"><i aria-hidden="true" class="icon-services"></i></span>
          <span>HTML5 Device Component</span>
        </a>
      </li>
      <li>
        <a href="/community/clients" title="">
          <span class="icon"><i aria-hidden="true" class="icon-team"></i></span>
          <span>Client Libraries</span>
        </a>
      </li>
      <li>
      <a  href="/start/projects" title="">
        <span  class="icon"><i  aria-hidden="true" class="icon-blog"></i></span>
        <span>Existing projects</span></a>
      </li>
    </ul>
  </nav>
</div>

<div class="clear"></div><br><br>

  <p class="notice">
    <span class="label">notice</span>
    This documentation is in Beta. We will add more docs day by day, but we can’t wait
    to get initial feedback from you about our first release. Feel free to start looking around
    our API, our vision on how the Connected Home should be in our opinion, and
    <a href="https://twitter.com/lelylan">get in touch</a>
    with us providing your suggestions and wish lists.
  </p>
