<%= render 'pages/menus/makers' %>

<div class="col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="makers-api">Makers API</h1>
    <h4>Connecting the physical world</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/makers/overview' %>
  </div>
</div>

<div class="col-md-offset-3 col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="mqtt">MQTT</h1>
    <h4>Connecting everything to the web</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/makers/mqtt' %>
  </div>
</div>

<div class="col-md-offset-3 col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="direct">Direct Access</h1>
    <h4>Connect the physical world through a URI or a public IP</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/makers/direct' %>
  </div>
</div>

