<%= render 'pages/menus/support' %>

<div class="col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="support">Support</h1>
    <h4>Get your problem solved</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/support/overview' %>
  </div>
</div>

<div class="col-md-offset-3 col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="faq">FAQ</h1>
    <h4>Frequently Asked Questions</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/support/faq' %>
  </div>
</div>
