<h2 id="makers-api-what-is-a-physical-api">What is a Physical Device</h2>

<p>
Physical devices are the objects you touch and interact with everyday of your life like lights,
appliances, alarms and more. To enable the communication between Lelylan and the physical
world, the physical device needs to implement the Physical API.
<p>

<p>
To make things simple, physical devices are characterized uniquely by their properties.
This way physical devices are easy to build, still giving the chance to extend their
functionalities by adding new services (e.g. functions, rules engines, sceneries, etc.)
on top of Lelylan.
<p>

<h2 id="makers-api-how-does-it-work">How does it work</h2>

<p>
  Any request sent to the Lelylan API is forwarded to the physical device, which
  is in charge of applying the desired changes and of sending back a confirmation
  message when those are made. The physical device also needs to send to communicate
  to Lelylan when its status changes (for example somebody turns a light on using a
  physical switch).
</p>

<%= render 'shared/animations/physical_device' %>


<h2 id="makers-api-any-hardware">Any Hardware</h2>

<p>
To connect a physical device you can use any hardware with Internet connectivity. Different
solutions are available varying on computational power, wireless capability and budget.
Follows some.
</p>

<table class="table table-stripped">
  <thead>
    <tr>
      <th width="160px">Model</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="http://www.arduino.cc/">Arduino</a></td>
      <td>
        Open-source electronics prototyping platform.<br>
        <a href="http://lelylan.github.io/lab-ng/#/projects/arduino">See Arduino Lab.</a>
      </td>
    </tr>
    <tr>
      <td><a href="http://electricimp.com/">Electric imp</a></td>
      <td>
        A complete and cheap solution to connect devices to the internet, wirelessly.<br>
        <a href="http://lelylan.github.io/lab-ng/#/projects/electric%20imp">See Electric Imp Lab.</a>
      </td>
    </tr>
    <tr>
      <td><a href="http://www.raspberrypi.org/">Raspberry Pi</a></td>
      <td>
        Credit-card sized computer as ARM GNU/Linux box for $25.<br>
        <a href="http://lelylan.github.io/lab-ng/#/projects/raspberry">See Raspberry Pi Lab.</a>
      </td>
    </tr>
    <tr>
      <td><a href="http://www.sparkdevices.com/">Spark Core</a></td>
      <td>
        A tiny Wi-Fi development board to create internet-connected hardware.<br>
        <a href="http://lelylan.github.io/lab-ng/#/projects/spark%20core">See Spark Core Lab.</a>
      </td>
    </tr>
    <tr>
      <td><a href="http://www.ti.com/tool/cc3200-launchxl">CC3200 LaunchPad</a></td>
      <td>
        Evaluation development platform for the CC3200 wireless microcontroller.<br>
        <a href="http://lelylan.github.io/lab-ng/#/projects/CC3200">See CC3200 Lab.</a>
      </td>
    </tr>
    <tr>
      <td><a href="http://netduino.com/">Netduino</a></td>
      <td>
        Open-source electronics platform using the .NET Micro Framework.<br>
        <a href="http://lelylan.github.io/lab-ng/#/projects/netduino">See Netduino Lab.</a>
      </td>
    </tr>
    <tr>
      <td><a href="http://tiny-circuits.com/products/tinyduino">TinyDuino</a></td>
      <td>
        Arduino compatible boards smaller than a quarter.<br>
        <a href="http://lelylan.github.io/lab-ng/#/projects/tinyduino">See Tinyduino Lab.</a>
      </td>
    </tr>
    <tr>
      <td><a href="http://ezcontrol.it">EZControl</a></td>
      <td>
        Hardware for the Connected Home.<br>
        <a href="http://lelylan.github.io/lab-ng/#/projects/ezcontrol">See EZControl Lab.</a>
      </td>
    </tr>
    <tr>
      <td><a href="http://nanode.eu/">Nanode</a></td>
      <td>
        Open-source Arduino-like board that has in-built web connectivity.<br>
        <a href="http://twitter.com/lelylan">Using Nanode? Contact us.</a>
      </td>
    </tr>
    <tr>
      <td><a href="https://mbed.org/">mbed</a></td>
      <td>
        Rapid Prototyping for Microcontrollers.<br>
        <a href="http://twitter.com/lelylan">Using mbed? Contact us.</a>
      </td>
    </tr>
    <tr>
      <td><a href="http://www.udoo.org/">udoo</a></td>
      <td>
        Android, Linux and Arduino in a tiny single-board computer.<br>
        <a href="http://twitter.com/lelylan">Using udoo? Contact us.</a>
      </td>
    </tr>
    <tr>
      <td><a href="http://pinocc.io/">Pinoccio</a></td>
      <td>
        A wireless microcontroller to connect anything to the web.<br>
        <a href="http://twitter.com/lelylan">Using Pinoccio? Contact us.</a>
      </td>
    </tr>
    <tr>
      <td><a href="https://tessel.io/">Tessel</a></td>
      <td>
        Hardware development for software developers.<br>
        <a href="http://twitter.com/lelylan">Using Tessel? Contact us.</a>
      </td>
    </tr>
    <tr>
      <td><a href="http://www.gainspan.com/">GainSpan</a></td>
      <td>
        Optimized Wi-Fi chips to lower down energy consumptions.<br>
        <a href="http://twitter.com/lelylan">Using GainSpan? Contact us.</a>
      </td>
    </tr>
    <tr>
      <td><a href="http://www.panstamp.com/">PanStamp</a></td>
      <td>
        Small wireless boards specially designed to fit in low-power applications.<br>
        <a href="http://twitter.com/lelylan">Using PanStamp? Contact us.</a>
      </td>
    </tr>
    <tr>
      <td><a href="http://www.openpicus.com/">openPICUS</a></td>
      <td>
        Platform to control and communication for your electronic devices through the web.<br>
        <a href="http://twitter.com/lelylan">Using openPICUS? Contact us.</a>
      </td>
    </tr>
    <tr>
      <td><a href="http://www.libelium.com/">Libelium</a></td>
      <td>
        Hardware technology for the implementation of wireless sensor networks.<br>
        <a href="http://twitter.com/lelylan">Using Libelium? Contact us.</a>
      </td>
    </tr>
    <tr>
      <td><a href="http://cubieboard.org/">Cubieboard</a></td>
      <td>
        A small, high-performance arm box.<br>
        <a href="http://twitter.com/lelylan">Using Cubieboard? Contact us.</a>
      </td>
    </tr>
    <tr>
      <td><a href="http://rascalmicro.com/">The Rascal</a></td>
      <td>
        Small computer to monitor and control the world remotely.<br>
        <a href="http://twitter.com/lelylan">Using Rascal? Contact us.</a>
      </td>
    </tr>
    <tr>
      <td><a href="http://pandaboard.org/">Beagle Board</a></td>
      <td>
        Open OMAP 4 mobile software development platform.<br>
        <a href="http://twitter.com/lelylan">Using Beagle Board? Contact us.</a>
      </td>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<div class="alert alert-info">
  <p>
  <span class="label label-lelylan">notice</span>
  Are we missing any hardware platform you are currently using?
  Let <a href="http://twitter.com/lelylan">@lelylan</a> know on Twitter.
  </p>
</div>

