<html lang="en-US">
<head>
	<meta charset="utf-8">
	<title>Login</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
  <style>

    /* http://codepen.io/m412c0/pen/Fybpf */

    @charset "utf-8";
    /* CSS Document */

    /* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
    @import url(http://weloveiconfonts.com/api/?family=fontawesome);

    /* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */
    @import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

    [class*="fontawesome-"]:before {
      font-family: 'FontAwesome', sans-serif;
    }

    body {
      background: #f8f8f8;
      color: #606468;
      font: 87.5%/1.5em 'Open Sans', sans-serif;
      margin: 0;
    }

    a {
      color: #239cbb;
      text-decoration: none;
      -webkit-transition: background 0.3s ease, border-color 0.3s ease;
      -moz-transition: background 0.3s ease, border-color 0.3s ease;
      transition: background 0.3s ease, border-color 0.3s ease;
    }

    a:hover {
      color: #01cf9e;
    }

    input {
      border: none;
      font-family: 'Open Sans', Arial, sans-serif;
      font-size: 14px;
      line-height: 1.5em;
      padding: 0;
      -webkit-appearance: none;
    }

    p {
      line-height: 1.5em;
    }

    .clearfix { *zoom: 1; } /* For IE 6/7 */
    .clearfix:before, .clearfix:after {
      display: table;
      content: "";
    }
    .clearfix:after { clear: both; }

    #login {
      margin: 100px auto;
      width: 275px;
      padding: 40px 70px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    #login form span {
      background-color: #f0f0f0;
      border-radius: 3px 0px 0px 3px;
      color: #606468;
      display: block;
      float: left;
      height: 48px;
      line-height: 50px;
      text-align: center;
      width: 50px;
      border: 1px solid #ccc;
    }

    #login form input {
      height: 50px;
    }

    #login form input[type="email"], input[type="password"] {
      background-color: #f8f8f8;
      border-radius: 0px 3px 3px 0px;
      color: #606468;
      margin-bottom: 1em;
      padding: 0 16px;
      width: 225px;
      border: 1px solid #ccc;
      border-left: none;
    }

    #login form input[type="submit"] {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background-color: #239cbb;
      color: #f8f8f8;
      font-weight: 200;
      font-size: 17px;
      margin-bottom: 1em;
      text-transform: uppercase;
      width: 280px;
      -webkit-transition: background 0.3s ease, border-color 0.3s ease;
      -moz-transition: background 0.3s ease, border-color 0.3s ease;
      transition: background 0.3s ease, border-color 0.3s ease;
    }

    #login form input[type="submit"]:hover {
      background-color: #01cf9e;
    }

    #login > p {
      text-align: center;
    }

    #login > p.intro {
      font-size: 20px;
      margin-bottom: 20px;
      text-transform: uppercase;
      color: #239cbb;
    }

    #login > p span {
      padding-left: 5px;
    }
  </style>

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
  <div id="login">
    <p class="intro">Lelylan Dev Center</p>
      <form accept-charset="UTF-8" action="/users/sign_in" method="post">
        <fieldset class="clearfix">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <p>
          <span class="fontawesome-user"></span>
          <input type="email" id="user_email" name="user[email]" placeholder="Username"  required>
          </p>

          <p>
          <span class="fontawesome-lock"></span>
          <input type="password" id="user_password" name="user[password]" placeholder="Password" required>
          </p>

          <div style="display:none;">
            <input name="user[remember_me]" type="hidden" value="0"><input checked="checked" id="user_remember_me" name="user[remember_me]" type="checkbox" value="1">
          </div>

          <p><input type="submit" value="Sign In"></p>
        </fieldset>
      </form>

    <p><%= link_to 'Did you forget your password?', "http://people.lelylan.com//users/password/new" %><a href=""></a></p>
  </div> <!-- end login -->
</body>
</html>

