/*
 *= require overlay
 *= require circles
 */


/*
 * Lelylan Dev Center Documentation
 *
 * Table of contents:
 * - Saas
 * - Scaffolding
 * - Apps navigation
 * - Top navigation
 * - Left navigation
 */


/* * *  */
/* Sass */
/* * *  */

/* import to override variables and to access the mixins */

@import "twitter/bootstrap";

/* variables */

$lelylanColor:           #239cbb;
$lelylanHoverColor:      #01cf9e;
$lelylanBackgroundColor: #01B2D5;
$linkColor:              $lelylanColor;
$linkColorHover:         $lelylanHoverColor;

/* mixins */

@mixin box-shadow {
  $intensity: 0.2;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0,$intensity);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0,$intensity);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, $intensity);
}


/* * * * * * * */
/* Scaffolding */
/* * * * * * * */

/* body defaults */

body {
  background-color: #e8e8e8 !important;
  padding-top: 100px; /* Account for fixed navbar */
  position: relative; /* For scrollyspy */
}

/* titles and subtitles styles */

h1 {
  background-color: $lelylanBackgroundColor;
  color: #fff;
  font-size: 48px;
  font-weight: 200;
  margin: 0;
  padding: 40px;
}

/* anchor positioning */

h1[id] {
  border-top: 105px solid red;
  margin-top: -90px;
  border-top:105px solid transparent;
  margin-top:-105px;
  -webkit-background-clip:padding-box;
  -moz-background-clip:padding;
  background-clip:padding-box;
}

h3[id] {
  padding-top: 115px;
  margin-top: -90px;
}

/* documentation page style */

.bs-docs {
  background-color: #f8f8f8;
  padding: 0;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

.bs-docs-section {
  padding: 20px 60px;
}


/* * * * * * * * * */
/* Apps navigation */
/* * * * * * * * * */

/* lelylan apps navbar */

.lelylan-navbar-apps {
  background-color: $lelylanColor;
  border: none;
  height: 25px;
  min-height: 25px;
  margin-bottom: 0;
  margin-top: 0;

  .navbar-nav > li > a {
    color: #00C4E9;
    font-size: 11px;
    padding: 2px 15px 0;
    text-shadow: 0 0 0 #333;
    text-transform: uppercase;
  }

  .navbar-nav > li > a:hover,
  .navbar-nav > li.active > a,
  .navbar-nav > li.active > a:hover {
    background-color: transparent;
    color: #eee;
  }
}


/* * * * * * * * * */
/* Top navigation  */
/* * * * * * * * * */

/* Lelylan top menu navbar */

.lelylan-navbar-top-menu {
  border: none;
  height: 50px;
  min-height: 50px;
  margin-bottom: 0;
  margin-top: 25px;

  .navbar-nav > li.open > a.dropdown-toggle {
    background-color: transparent;
    color: $linkColorHover !important;
  }

  .navbar-nav > li > a.dropdown-toggle {
    background-color: transparent;
    color: $linkColor !important;
  }

  .navbar-nav > li > a:hover {
    color: $linkColorHover !important;
  }
}



/* * * * * * * * * */
/* Left navigation */
/* * * * * * * * * */

/* By default it's not affixed in mobile views, so undo that */

.bs-sidebar.affix {
  position: static;
}

/* First level of nav */

.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */

.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */

.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */

@media screen and (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 100px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* Widen the fixed sidebar again */

@media screen and (min-width: 1200px) {
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 263px;
  }
}
