/*
 *= require prettify.css
 */


/*
 * Lelylan Dev Center Documentation
 *
 * Table of contents:
 * - Saas
 * - Scaffolding
 * - Apps navigation
 * - Top navigation
 * - Left navigation
 */


/* * *  */
/* Sass */
/* * *  */

/* import to override variables and to access the mixins */

@import "twitter/bootstrap";

/* variables */

$lelylanColor:           #239cbb;
$lelylanHoverColor:      #01cf9e;
$lelylanBackgroundColor: #009FC7;
$linkColor:              $lelylanColor;
$linkColorHover:         $lelylanHoverColor;

/* mixins */

@mixin box-shadow {
  $intensity: 0.2;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0,$intensity);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0,$intensity);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, $intensity);
}


/* * * * * * * */
/* Scaffolding */
/* * * * * * * */

/* body defaults */

body {
  background-color: #e8e8e8 !important;
  padding-top: 100px; /* Account for fixed navbar */
  position: relative; /* For scrollyspy */
}

/* link colors animation */

a {
  -webkit-transition: color 0.3s ease, text-decoration 0.3s ease, background 0.3s ease;
  -moz-transition: color 0.3s ease, text-decoration 0.3s ease, background 0.3s ease;
  transition: color 0.3s ease, text-decoration 0.3s ease, background 0.3s ease;
}

/* anchor positioning */

h1[id] {
  border-top:120px solid transparent;
  margin-top:-120px;
  -webkit-background-clip:padding-box;
  -moz-background-clip:padding;
  background-clip:padding-box;
}

h2[id] {
  padding-top: 115px;
  margin-top: -95px;
}

/* titles */

.bs-title {
  background-color: $lelylanBackgroundColor;
  color: #fff;
  margin: 0;
  padding: 20px 60px;
}

.bs-title h1 {
  font-size: 48px;
  font-weight: 200;
}

.bs-title h4 {
  color: #9EDAE6;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* internal subtitles */

.bs-docs-section h2 {
  color: $lelylanColor;
  font-size: 30px;
}

.bs-docs-section h3 {
  font-size: 22px;
}

.bs-docs-section p {
  font-size: 17px;
  font-weight: 200;
  line-height: 1.4;
  margin-bottom: 20px;
}

/* documentation page */

.bs-docs {
  background-color: #f8f8f8;
  padding: 0;
  @include box-shadow;

  p a {
    color: $linkColor !important;
  }

  p a:hover {
    text-decoration: none;
    color: $linkColorHover !important;
  }
}

.bs-docs-section {
  padding: 20px 60px;
}

.col-md-offset-3 {
  margin-top: 50px;
}


/* * * * * * * * * */
/* Apps navigation */
/* * * * * * * * * */

/* lelylan apps navbar */

.lelylan-navbar-apps {
  background-color: $lelylanBackgroundColor;
  border: none;
  height: 25px;
  min-height: 25px;
  margin-bottom: 0;
  margin-top: 0;

  .container {
    padding-left: 0;
  }

  .navbar-nav > li > a {
    color: #00C4E9;
    font-size: 11px;
    padding: 2px 30px  0 0;
    text-shadow: 0 0 0 #333;
    text-transform: uppercase;
  }

  .navbar-nav > li > a:hover,
  .navbar-nav > li.active > a,
  .navbar-nav > li.active > a:hover {
    background-color: transparent;
    color: #eee;
  }
}


/* * * * * * * * * */
/* Top navigation  */
/* * * * * * * * * */

/* Lelylan top menu navbar */

.lelylan-navbar-top-menu {
  border: none;
  height: 50px;
  min-height: 50px;
  margin-bottom: 0;
  margin-top: 25px;

  .container {
    padding-right: 0;
  }

  /* menu items */

  .navbar-nav > li > a {
    background-color: transparent;
    color: $linkColor !important;
    padding-right: 0;
    padding-left: 30px;
  }

  .navbar-nav > li > a:hover {
    color: $linkColorHover !important;
  }

  .navbar-nav > li.open > a.dropdown-toggle {
    background-color: transparent;
    color: $linkColorHover !important;
  }

  /* brand */

  .navbar-brand {
    text-shadow: 0 1px 0 #eee;
    font-weight: 200;
    padding-left: 15px !important;
    color: #000 !important;
  }
}


/* * * * * * * * * */
/* Left navigation */
/* * * * * * * * * */

/* By default it's not affixed in mobile views, so undo that */

.bs-sidebar.affix {
  position: static;
}

/* First level of nav */

.bs-sidenav {
  //background-color: #f8f8f8;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  //@include box-shadow;
}

/* All levels of nav */

.bs-sidebar .nav > li > a {
  color: $lelylanColor;
  display: block;
  font-size: 12px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  color: $lelylanHoverColor;
}

.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  background-color: transparent;
  border-left: 1px solid $lelylanColor;
}

/* Nav: second level (shown on .active) */

.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}

.bs-sidebar .nav .nav > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 25px;
}

/* Show and affix the side nav when space allows it */

@media screen and (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 100px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* Widen the fixed sidebar again */

@media screen and (min-width: 1200px) {
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 263px;
  }
}


/* * * * * * * */
/* Code syntax */
/* * * * * * * */

code {
  color: #111;
  background-color: #eee;
}

pre code,
pre xmp {
  display:block;
  color:#111;
  font-family: Monaco, Consolas, monospace;
  font-size:12px;
  line-height:1.5;
  padding:5px;
  margin: 5px 3px;
}

pre {
  margin: 0;
  padding: 5px 0 5px 5px !important;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
}

ul.nav-tabs,
ol.nav-tabs {
  margin:15px 0 0 0;
  line-height:1.7em
}

ul.nav-tabs li.active a,
ol.nav-tabs li.active a {
  background-color:#fff
}

ul.nav-tabs {
  padding-left:0
}

div.tab-content pre {
  border-top:none
}

.nav-tabs > li > a {
  font-size: 16px;
  font-weight: 200;
}

.nav-tabs > li a {
  color: $linkColor;
}

.nav-tabs > li.active a:hover,
.nav-tabs > li.active a {
  color: $linkColorHover;
  background-color: #fff;
}


/* * * * * * * * * */
/* Animated steps  */
/* * * * * * * * * */

.animation {
  max-width: 100%;
  background-color: #fff;
  padding: 0 15px 5px 20px;
  border: 1px solid #ddd;
  margin-bottom: 15px;

  h3 {
    display:inline;
  }

  p {
    float:clear;
    margin-top: 15px;
    margin-left: 6px;
  }

  pre {
    margin-left: 4px;
  }

  .button-lelylan {
    background-color: $lelylanColor;
  }

  .button-lelylan:hover {
    color: #fff;
  }

  .canvas {
    position:relative;
    width: 690px;
    height: 40px;
    margin: 20px 0 20px 0;
  }

  .action {
    padding-left: 5px;
    padding-bottom: 10px;
  }
}


/* * * * * * * * */
/* Button style  */
/* * * * * * * * */

.btn-lelylan {
  background: $lelylanColor;
  box-sizing: border-box;
  min-height: 35px;
  width: auto;
  display: inline-block;
  padding: 0.9em 1.37em;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  line-height: 13px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: none;
  border-radius: 0.2em;
  border: rgba(0,0,0,0.05) 0.1em solid;
  -webkit-transition: background 0.3s ease, border-color 0.3s ease;
  -moz-transition: background 0.3s ease, border-color 0.3s ease;
  transition: background 0.3s ease, border-color 0.3s ease;
}

.btn-lelylan:hover {
  background: $lelylanHoverColor;
  color: #fff;
  text-decoration: none;
}

.alert {

  .label-lelylan {
    color: $lelylanColor;
    text-transform: uppercase;
    background-color: #fff;
    margin-right: 2px;
    font-weight: 400;
    padding: .2em .6em .2em;
    letter-spacing: 1px;
  }

  p {
    color: #666;
    margin-bottom: 0;
  }
}


