--- 
title: 'Documentation'
style: 'docs-index'
---

      <h2>Getting Started</h2>
      <article>
        <div><h3><a href="/start/introduction/">Introduction</a></h3> <span>Introduction to Lelylan</span></div>
        <div><h3><a href="/start/first-app/">Build your first app</a></h3> <span>A mobile app in 15 minutes</span></div>
        <div><h3><a href="/start/first-physical/">Connect your first device</a></h3> <span>Control the physical world</span></div>
        <div><h3><a href="/start/tutorials/">Tutorials & articles</a></h3> <span>Tutorials and articles</span></div>
        <div><h3><a href="/start/showcases/">Showcases</a></h3> <span>Connected house apps</span></div>
      </article>
