<article>

<h1 class="call"><a name="introduction"><%= title %></a></h1>

<p>
Lelylan makes it easy for developers to monitor and control all devices in your house
providing a simple, self descriptive and consistent representation of them. Lelylan maps
every device in your house to a unique URI which will provide a simple access over it.
</p>

<p>
With Lelylan developers can build secure applications and services that use
<a href="/api/realtime">real-time</a>
data coming from the real world to create the connected home of the future.
</p>

</article>

</br>

<article>

<h1 class="call"><a name="lelylan-flow">Lelylan request flow</a></h1>

<%= render 'shared/animations/lelylan' %>

</article>

</br>

<article>

<h1 class="call"><a name="resources">Resources</a></h1>

<p>
  Lelylan REST API is built on top of four resources.
</p>

<ul>
  <li><a href="/api/devices">Devices</a> - defines a set of services to create, monitor, control and simulate physical devices.</li>
  <li><a href="/api/types">Types</a> - defines a set of services to describe the structure of a device.</li>
  <li><a href="/api/locations">Locations</a> - defines a set of services to describe the places devices live in.</li>
  <li><a href="/api/physicals">Physical Devices</a> - defines a set of services to connect Lelylan to the physical world.</li>
</ul>

</article>

</br>

<article>

<h1 class="call"><a name="give-me-some-code">What's next?</a></h1>

<ul>
  <li><a href="/start/physical/">Connect your first physical device</a></li>
  <li><a href="/start/app">Create your first connected home app</a></li>
  <li><a href="/start/projects">Learn from existing projects</a></li>
</ul>

</article>
