<article>

<h1 class="small"><a name="introduction"><%= title %></a></h1>

<p>
Lelylan makes it easy for developers to monitor and control all devices in your house
providing a simple, self descriptive and consistent representation of them. Lelylan maps
every device in your house to a unique URI which will provide a simple access over it.
</p>

<p>
With Lelylan developers can build secure applications and services that use
<a href="/api/realtime">real-time</a>
data coming from the real world to create the connected home of the future.
</p>

</article>

</br>

<article>

<h1 class="small"><a name="lelylan-flow">Lelylan request flow</a></h1>

<%= render 'shared/animations/lelylan' %>

</article>

</br>

<article>

<h1 class="small"><a name="resources">Resources</a></h1>

<p>
  Lelylan REST API is built on top of four resources.
</p>

<ul>
  <li><a href="/api/devices">Devices</a> - creates, monitors, controls and simulates physical devices.</li>
  <li><a href="/api/types">Types</a> - describes the structure of a device.</li>
  <li><a href="/api/locations">Locations</a> - describes the places devices live in.</li>
  <li><a href="/api/physicals">Physical Devices</a> - defines a set of services to connect Lelylan to the physical world.</li>
</ul>

</article>

</br>

<article>

<h1 class="small"><a name="give-me-some-code">What's next?</a></h1>

<nav class="nav-intro">
  <ul>
    <li class="todo">
    <a href="#" title="">
      <span class="icon"><i aria-hidden="true" class="icon-services"></i></span>
      <span>Connect your first physical device</span>
      <span class="label">todo</span>
    </a>
    </li>
    <li class="todo">
    <a href="#" title="">
      <span class="icon"><i aria-hidden="true" class="icon-services"></i></span>
      <span>Build your first connected home app</span>
      <span class="label">todo</span>
    </a>
    </li>
    <li>
    <a  href="/start/projects" title="">
      <span class="icon"><i aria-hidden="true" class="icon-blog"></i></span>
      <span>See existing projects</span></a>
    </li>
    <li>
    <a  href="/api" title="">
      <span class="icon"><i aria-hidden="true" class="icon-blog"></i></span>
      <span>Lelylan API</span></a>
    </li>
  </ul>
</nav>

<div class="clearfix">

</article>
