<article>

<h1 class="call"><a name="introduction"><%= title %></a></h1>

<p>
Lelylan makes it easy for developers to monitor and control all devices in your house
providing a simple, self descriptive and consistent representation of them. Lelylan maps
every device in your house to a unique URI which will provide a simple access over it.
</p>

<p>
With Lelylan developers can build secure applications and services that use
<a href="/api/realtime">real-time</a>
data coming from the real world to create the future connected house.
</p>

</article>

</br>

<article>

<h1 class="call"><a name="resources">Resources</a></h1>

<p>
  Lelylan REST API is built on top of the following concepts.
</p>

<ul>
  <li><strong>Devices</strong>: defines a set of services to create, monitor and control devices.</li>
  <li><strong>Types</strong>: defines a set of services to describe the structure of a device.</li>
  <li><strong>Locations</strong>: defines a set of services to describe the places devices live in.</li>
    <li><strong>Physical Devices</strong>: defines a set of services to connect Lelylan to your physical devices.</li>
</ul>

</article>

</br>

<article>

<h1 class="call"><a name="lelylan-flow">Lelylan request flow</a></h1>

<%= render 'shared/animations/lelylan' %>

</article>

</br>

<article>

<h1 class="call"><a name="give-me-some-code">What's next?</a></h1>

<p>
It's time to create your first application with Lelylan. Here are a few links that might be of help.
</p>

<ul>
  <li><a href="/api/devices">Create your first device</a></li>
  <li><a href="/api/physicals">Connect a physical devices</a></li>
  <li><a href="/api/oauth">Auhtorize a third party app</a></li>
  <li><a href="/api/realtime">Get realtime notifications</a></li>
  <li><a href="/api/types">Create a new type</a></li>
  <%#<li><a href="/start/first-app/">Build your first app in 15 minutes</a> <span class="label">todo</span></li>%>
  <%#<li><a href="/start/first-physical/">Connect your first light with Arduino</a> <span class="label">todo</span></li>%>
  <%#<li><a href="/start/tutorials/">Tutorials and articles</a> <span class="label">todo</span></li>%>
  <%#<li><a href="/start/showcases/">Checkout people projects</a> <span class="label">todo</span></li>%>
  <li><a href="/community/clients">Core concepts</a></li>
  <li><a href="/community/core">Client libraries</a></li>
  <li><a href="/api">Lelylan API</a></li>
</ul>

</article>

