<article>

<h1 class="call"><a name="introduction"><%= title %></a></h1>

<p>
Lelylan makes it easy for developer to monitor and control all devices in your house
providing a simple, self descriptive and consistent representation of them. Lelylan
maps every device in your house to a unique URI which will provide a simple access
over it.
</p>

<p>
With Lelylan developers can build secure applications and services that use real-time
data coming from the real world to create the future connected house.
</p>

</article>

</br>

<article>

<h1 class="call"><a name="resources">Resources</a></h1>

<p>
  Lelylan REST API is made up from four logical blocks.
</p>

<ul>
  <li><a href="/api/devices/">Devices</a> - Defines a set of services 
    to create, monitor and control devices.</li>
  <li><a href="/api/types/">Types</a> - Defines a set of services to 
    describe the structure of a device.</li>
  <li><a href="/api/locations/">Locations</a> - Defines a set of services 
    to describe the places devices live in.</li>
  <li><a href="/api/physicals/">Physical Devices</a> - Defines a set of services 
    to connect Lelylan to your physical devices.</li>
</ul>

</article>

</br>

<article>

<h1 class="call"><a name="lelylan-flow">Lelylan request flow</a></h1>

<%= render 'shared/animations/lelylan' %>

</article>

</br>

<article>

<h1 class="call"><a name="give-me-some-code">Give me some code</a></h1>

<p>
It's time to create your first application with Lelylan. Here are a few links that might be of help.
</p>

<ul>
  <li><a href="/api/">Lelylan API</a></li>
  <li><a href="/start/first-app/">Build your first app in 15 minutes</a> <span class="label">todo</span></li>
  <li><a href="/start/first-physical/">Connect your first light with Arduino</a> <span class="label">todo</span></li>
  <li><a href="/start/tutorials/">Tutorials and articles</a> <span class="label">todo</span></li>
  <li><a href="/start/showcases/">Checkout people projects</a> <span class="label">todo</span></li>
  <li><a href="/community/clients/">Client libraries</a></li>
</ul>

</article>

