<article>

<h1 class="call"><a name="showcases"><%= title %></a></h1>

<p>
Checkout what people have been doing with Lelylan.
If you think we are missing a good application or you want to help us creating a new one 
<a href="http://twitter.com/#!/lelylan">tweet</a> or 
<a href="mailto:touch@lelylan.com">mail</a> us.
We are continuosly seeking for new projects and collaborations.
</p>

</br>

<table class="zebra-striped">
  <tbody>
    <tr>
      <td>
        <a href="#" class="bigger">
          Mobile app for iPhone.
        </a>
        <span class="info">Basic mobile application working on iPhone and Android. <span class="label">TODO</span></span>
        <!--<span class="info">Credits to Lelylan</span>-->
      </td>
      <td style="width:130px;">
        <span class="label warning">mobile</span>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">
      </td>
    </tr>
  </tfoot>
</table>

</article>
