--- 
title: 'Tutorials and articles'
style: 'description'
---

      <article>

      <h1 class="call"><a name="tutorials-articles">Tutorials and articles</a></h1>

      <p>
      Learn how to use Lelylan by reading articles, tutorials and examples. 
      If you think we are missing a good article or you want to help us creating a new one 
      <a href="http://twitter.com/#!/lelylan">tweet</a> or 
      <a href="mailto:touch@lelylan.com">mail</a> us.
      Good documentation is rarely enough.
      </p>

      </br>

      <table class="zebra-striped">
        <tbody>
          <tr>
            <td>
              <a href="/start/first-app/" class="bigger">
                Create your first mobile app for the connected house in 15 minutes.
              </a>
              </br><span class="label">TODO</span>
              <!--<span class="info">Credits to Lelylan</span>-->
            </td>
            <td style="width:130px;">
              <span class="label warning">ui</span>
              <span class="label warning">mobile</span>
              <span class="label warning">ruby</span>
              <span class="label warning">client</span>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/start/first-physical/" class="bigger">
                Connect your first physical light.
              </a>
              </br><span class="label">TODO</span>
              <!--<span class="info">Credits to -->
                <!--<a href="http://arduino.cc">Arduino</a> and -->
                <!--<a href="http://lelylan.com/people/">Lelylan</a>-->
                <!--</span>-->
            </td>
            <td>
              <span class="label warning">physical device</span> </br>
              <span class="label warning">arduino</span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
            </td>
          </tr>
        </tfoot>
      </table>

      <p>

      </p>
      </article>
