<!-- left navbar -->

<div class="col-md-3">
  <div class="bs-sidebar hidden-print affix" role="complementary">
    <ul class="nav bs-sidenav">
      <li>
        <a href="#lelylan-overview">Lelylan Overview</a>
        <ul class="nav">
          <li><a href="#overview-what-is-a-physical-device">What is a Physical Device</a></li>
          <li><a href="#overview-how-does-it-work">How does it work</a></li>
          <li><a href="#overview-any-hardware">Any Hardware</a></li>
        </ul>
      </li>
      <li>
        <a href="#mqtt">MQTT</a>
        <ul class="nav">
          <li><a href="#mqtt-overview">MQTT Overview</a></li>
          <li><a href="#mqtt-creating-the-device">Creating the Device</a></li>
          <li><a href="#mqtt-setting-the-physical-uri">Setting the Physical URI</a></li>
          <li><a href="#mqtt-connecting-to-lelylan">Connecting to Lelylan</a></li>
          <li><a href="#mqtt-code-examples">Code Examples</a></li>
          <li><a href="#mqtt-control-your-physical-device">Control Your Physical Device</a></li>
          <li><a href="#mqtt-tutorials">Tutorials</a></li>
          <li><a href="#mqtt-feedback">Feedback</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
