--- 
title: 'Realtime'
style: 'description'
---

      <article>

      <h1 class="call"><a name="realtime">Realtime</a></h1>

      <span class="label warning">Coming soon</span></br>

      <p>
      By adopting parts of the
      <a href="http://pubsubhubbub.googlecode.com/">Pubsubhubub protocol</a>
      protocol we want to create a system where your application gets notified in realtime
      when changes happens.
      Instead of polling Lelylan servers to check to see if there are updates, you can
      rely upon our servers to POST to a callback URL on your server when new data is
      available. Developers running servers like Node.js can provide real-time experiences
      of events to their users.
      </p>

      </br>

      </article>
