<br></br>

<h2 id="support-ask-for-help">Get in touch</h2>

<p>
Lelylan use different channels to answer at your questions. Choose the one that fits you the most and let us know about problems, ideas, collaborations and anything else pops up in your mind.
</p>

<ul>
  <li>
    <a href="https://github.com/lelylan/lelylan/issues">Github Issues</a>
  </li>
  <li>
    <a href="http://stackoverflow.com/questions/tagged/lelylan">Stack Overflow</a>
  </li>
  <li>
    <a href="https://groups.google.com/forum/#!forum/lelylan">Google Groups</a>
  </li>
  <li>
    <a href="http://twitter.com/lelylan">Twitter</a>
  </li>
  <li>
    <a href="mailto:dev@lelylan.com">Email</a>
  </li>
</ul>

<hr>


<h2 id="support-beta-limitations">Beta Limitations</h2>

<p>
We do our best to provide a highly reliable, scalable, and resilient service. However, Lelylan is still in beta and temporary interruptions of the service could happen. We apologize in advance for any inconvenience.
</p>