<h2 id="support-ask-for-help">Ask for Help</h2>

<p>
Lelylan use different channels to answer at your questions. Choose the one that fits you
the most and let us know what's wrong. The only thing we ask for is to search for previous
discussions before sending a new question.
</p>

<ul>
  <li>
  Use <a href="">Lelylan Google Group</a> to talk to us about any problem or doubt you are facing.
  Discuss with our team about the unexpected results and help us to improve Lelylan.
  </li>
  <li>
    Other channels didn't satisfy you? Write a mail to <a href="">dev@lelylan.com</a>.
  </li>
</ul>

<h2 id="support-beta-limitations">Beta Limitations</h2>

<p>
To provide a smooth experience to all our users, we set limits on how the platform can
be used. The imposed limits are 5000 req/day and your application will stop working when
the limits are exceeded.
</p>

<p>
Also, we do our best to provide a highly reliable, scalable, and fully resilient service.
However, our service is still in an private beta stage and temporary interruptions of the
service could happen. We apologize in advance for any inconvenience.
</p>

<h2 id="support-feedback"><span class="glyphicon glyphicon-comment"></span> Feedback</h2>

<p>
We love to hear back from our users and customers. Let <a href="">@lelylan</a> know on Twitter.
</p>
