--- 
title: 'Physical node'
style: 'description'
---
      <article>

      <aside class="menu">
      </br>
      <table>
        <tbody>
          <tr><td>&raquo; <a href="#physical-devices-flow">Physical Devices Flow</a></td></tr>
          <tr><td>&raquo; <a href="#hardware-solutions">Hardware solutions</a></td></tr>
        </tbody>
      </table>
      </aside>

      <h1 class="call"><a name="physical-devices">Physical devices</a></h1>

      <span class="label warning">coming soon</span>

      <p>
      Physical devices are the objects you physically interact with everyday of your life
      like lights, appliances, alarms and more. To enable the communication between Lelylan
      and the physical devices you have to provide them with a simple set of web services.
      <p>

      <p>
      Physical devices are characterized uniquely by their properties. This keeps physical
      devices simple to build, still giving the possibility to extend their functionalities
      adding new services (e.g. rules engines, sceneries, etc.) on top of Lelylan whenever
      you want.
      <p>

      </article>

      </br>

      <article>

      <h1 class="call"><a name="physical-devices-flow">Physical Devices Flow</a></h1>

      <%= render 'partials/animations/physical_device' %>

      </article>

      </br>

      <article>

      <h1 class="call"><a name="hardware-solutions">Hardware solutions</a></h1>

      <p>
      To build a physical device you can use different hardware solutions varying 
      on <strong>computational power</strong>, <strong>wireless capability</strong>
      and <strong>budget</strong>.
      </p>

      <table>
        <thead>
          <tr>
            <td><strong>MODEL</strong></td>
            <td><strong>DESCRIPTION</strong></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="http://www.arduino.cc/">Arduino</a></td>
            <td>
              Open-source electronics prototyping platform.
            </td>
          </tr>
          <tr>
            <td><a href="http://nanode.eu/">Nanode</a></td>
            <td>
              Open-source Arduino-like board that has in-built web connectivity.
            </td>
          </tr>
          <tr>
            <td><a href="http://www.openpicus.com/">openPICUS</a></td>
            <td>
              Platform to control and communication for your electronic devices through the web.
            </td>
          </tr>
          <tr>
            <td><a href="http://netduino.com/">Netduino</a></td>
            <td>
              Open-source electronics platform using the .NET Micro Framework.
            </td>
          </tr>
          <tr>
            <td><a href="http://www.libelium.com/">Libelium</a></td>
            <td>
              Hardware technology for the implementation of wireless sensor networks.
            </td>
          </tr>
          <tr>
            <td><a href="http://www.raspberrypi.org/">Raspberry Pi</a></td>
            <td>
              Credit-card sized computer as ARM GNU/Linux box for $25.
            </td>
          </tr>
          <tr>
            <td><a href="http://rascalmicro.com/">The Rascal</a></td>
            <td>
              Small computer to monitor and control the world remotely.
            </td>
          </tr>
          <tr>
            <td><a href="http://pandaboard.org/">Beagle Board</a></td>
            <td>
              Open OMAP 4 mobile software development platform.
            </td>
          </tr>
          <tr>
            <td><a href="http://www.plugcomputer.org/">Plug Computer</a></td>
            <td>
              Small form factor server.
            </td>
          </tr>
          <tfoot>
            <tr>
              <td colspan="2">
                Read 
                <a href="http://www.lelylan.com/blog/electronics/">Hacking the Internet of Things</a> and
                <a href="http://www.lelylan.com/blog/boards/">Get into the House</a> to learn more about.
              </td>
            </tr>
          </tfoot>
        </tbody>
      </table>

      </article>
