<article>

<aside class="menu">
</br>
<table>
  <tbody>
    <tr><td><a href="" class="upcase"><%= title %></a></td></tr>
    <tr><td>&raquo; <a href="#websocket">Websocket physical node</a></td></tr>
    <tr><td>&raquo; <a href="#hardware-solutions">MQTT Physical node</a></td></tr>
  </tbody>
</table>
</aside>

<h1 class="call"><a name="physical-devices"><%= title %></a></h1>

<p>
A physical node let any physical device to be easily accessible through the web.
<p>

<span class="label">coming soon</span>

</article>
